<div class="container white-bck dark-gray padb20">
  <%= render :partial => 'messages/menu', :locals => {:active_menu => 'faq'} if current_customer %>
  <%= render :partial => 'messages/index/faq' %>
</div>

<script>

$(document).ready(function () {
    $("#accordion").accordion({
    	heightStyle: "content"
    });
    $("#accordion a").on('click', function () {
        var modal_content = $(this).attr('data-modal');
        var modal_title = $(this).text();
        $('.content-modal-load').html(modal_content);
        $('.title-modal-load').html(modal_title);
    });
});

</script>
