<div class="container white-bck padb30">
<div id="contact-wrap">
  <%= render :partial => 'messages/menu', :locals => {:active_menu => 'faq'} if current_customer %>
  <div id="tabs-content">
    <%= render :partial => 'messages/index/faq' %>
  </div>
</div>
</div>
