<div class="container white-bck dark-gray padb20">
  <%= render :partial => 'messages/menu' %>
  <%= render :partial => 'messages/index/messages', :locals => {:messages => @messages} %>
</div>

<script>

$(function() {
  $('.menu_faq').on('click', function() {
    $('#faq-nav .active').parent().find("ul").first().hide();
    $('#faq-nav .active').removeClass('active');
    $(this).addClass('active');
    $(this).parent().find("ul").first().show();
  });
  $('.q').on('click', function() {
    id = $(this).attr('id');
    try
    {
      $(response).hide();
    }
    catch(e)
    {
    }
    response = "#" + id.replace('q', 'r');
    $(response).show();
    return false;
  });
  $('.categorie').on('click', function() {
    $('label.active').removeClass('active');
    $(this).parent('label').addClass('active');
  });


  $("body").delegate("#new_message_btn", "click", function() {
    if (!$(".content input:radio:checked").val()) {
      alert($('#error_cat').html())
      return false
    }
     $('#new_message_btn').attr("disabled", "disabled");
     $('#new_ticket').submit();

     setTimeout(function() { $("#new_message_btn").parent().html("<div style='height:34px'><img src='/assets/ajax-loader.gif' /></div>"); }, 500);
  })
  $("#reply").on("click", function() {
     $('#reply').attr("disabled", "disabled");
     $('#new_reply').submit();

     setTimeout(function() { $("#reply").parent().html("<p align='rigth'><img src='/assets/ajax-loader.gif' /></p>"); }, 500);
  })
  $('#sort_combo').change(function() {sort_change()});
  $(".datepicker").datepicker({
    showButtonPanel: false,
    firstDay: 1,
    dateFormat: 'dd-mm-yy',
    onSelect: function(dateText, inst) {
      d=new Date();
      month = (d.getMonth()+1);
      if(parseInt(month)<10)
      {
        month = new String('0'+month)
      }
      day = d.getDate()
      if(parseInt(day)<10)
      {
        day = new String('0'+day)
      }

      if (dateText == day+"-"+month+"-"+d.getFullYear())
      {
        limit = 0
        h = d.getHours()
        if(parseInt(h)==9)
        {
          limit = 4
        }
        else if (parseInt(h)== 10)
        {
          limit = 6
        }
        else if (parseInt(h)== 11)
        {
            limit = 8
        }
        else if (parseInt(h)== 12)
        {
            limit = 10
        }
        else if (parseInt(h)== 13)
        {
            limit = 12
        }
        else if (parseInt(h)== 14)
        {
            limit = 14
        }
        else if (parseInt(h)== 15)
        {
            limit = 16
        }
        else if (parseInt(h)== 16)
        {
            limit = 18
        }
        $.each($('#phone_request_hour').children(), function (){
          if(parseInt($(this).attr('value'))<=limit)
          {
            $(this).attr('disabled','disabled')
            $(this).hide()
          }
        })
        $("select#phone_request_hour option[selected]").removeAttr("selected");
        $("select#phone_request_hour option[value='']").attr("selected", "selected");
      }
      else
      {
        $.each($('#phone_request_hour').children(), function (){
            $(this).show()
            $(this).removeAttr('disabled');
        })
      }
    },
    minDate: new Date()});

});
var options = {}
function sort_change()
{
  $('#sort_form').submit();
}

</script>
