<div class="container white-bck dark-gray padb20">
  <%= render :partial => 'messages/menu' %>
  <%= render :partial => 'messages/index/messages', :locals => {:messages => @messages} %>
</div>

<% content_for :run_specific_javascript do %>
    <%= javascript_include_tag "messages/messages" %>
<% end %>
