<div class="switch_dom" id="switch_dom">
  <div id="title"><%= t '.title' %></div>
  <div style="margin-left: 20px; width: 800px;">
   <% form_for(:customer, :url => customer_payment_methods_path(:customer_id => current_customer.to_param), :html => { :method => :put }) do |f| %>
   <%= hidden_field_tag(:type, 'credit_card_modification')  %>
    <div style="width: 800px;" > <img src="/images/card.png" style="float: left; padding-right: 10px;">
      <p><%= t '.credit_card_redirect' %></p>
    </div>
    <div align="right" style="padding-right: 8px;">
    <table cellspacing="0" cellpadding="0">

      <tr>
        <td align="left"><img width="130" height="66" align="left" style="padding-right: 25px;" src="http://www.dvdpost.be/images/www3/languages/french/images/buttons/canvas/logo_ogone_big.gif"></td>
        <td align="right">
        </td>
        <td></td>
        <td style="padding-top: 10px; padding-left: 10px;">
          <button type="submit" class="button_confirm_switch"><%= t'.follow' %></button>
        </td>
      </tr>
    </table>
    </div>
    <% end %>
  </div>

</div>