<br>
<br>
<br>
<div class="switch_dom" id="switch_dom">
  <div id="title"><%= t 'virement_payment_method_change_finish.1' %></div>
</div>
<div style="margin-left: 30px; width: 800px;">
  <table style="width:75%">
  <tr>
    <td><h2><%= t 'virement_payment_method_change_finish.2' %></h2> </td>
    <td><h1><%= t 'virement_payment_method_change_finish.3' %></h1></td>
    <td><%= image_tag "step3/virement.png", height: '26', width: '64' %></td>
  </tr>
</table>
</div>
<br><br><br><br><br><br><br><br><br><br>
