<% path = @display_vod == 0 ? 'watchlists/index/item' : 'watchlists/index/item_gallery' %>
<% class_name = @display_vod == 0 ? '' : ' gallery clearfix' %>
<div class="container white-bck dark-gray padb20">
  <!--<#% if params[:transit_or_history] == 'history' %>
      <#%= link_to t('.see_out'), vod_wishlists_path(:transit_or_history => 'transit'), :class => 'display-block mart20' %>
  <#% else %>
      <#%= link_to t('.see_history'), vod_wishlists_path(:transit_or_history => 'history'), :class => 'display-block mart20' %>
  <#% end %>-->
  <div id="accordion" class="mart30">
    <h3 class="mart10"><%= t '.list' %> (<%= @list.count('distinct vod_wishlists.id').size %>)</h3>
    <div>
      <div>
        <%= render :partial => path, :collection => @list, :locals => {:display_vod => @display_vod, :type => :list, :series => []} %>
      </div>
    </div>
  </div>
</div>
<% content_for :run_specific_javascript do %>
    <%= javascript_include_tag "watchlist/watchlist" %>
<% end %>