<style>
  .jw-skin-vapor .jw-icon-cast button {
    --disconnected-color: rgba(255, 255, 255, 0.6) !important;
  }
</style>
<script>
    productImage = "<%= @product.image %>";
</script>
<%= jwplayerdefault(@streaming.filename, @streaming.source, @streaming, "321456987", @browser) %>
<div id="playerdefault">Loading the player...</div>
<script>
    jwplayer('playerdefault').setup({
        file: movieUrlDefault,
        autostart: false,
        controls: false,
        image: productImage
    });
</script>
