<!--<#% if @token %>
    <#% token_code = token.token %>
<#% else %>
    <#% if Token.dvdpost_ip?(request.remote_ip) || (current_customer && current_customer.super_user?) || (/^192(.*)/.match(request.remote_ip)) %>
        <#% token_code = "#{@streaming.hd? ? '4' : '3'}/i/" + @streaming.imdb_id.to_s %>
    <#% end %>
<#% end %>-->

<% if Token.dvdpost_ip?(request.remote_ip) || (current_customer && current_customer.super_user?) || (/^192(.*)/.match(request.remote_ip)) %>
    <% token_code = "#{@streaming.hd? ? '4' : '3'}/i/" + @streaming.imdb_id.to_s %>
<% end %>

<%= jwplayer(@streaming.filename, @streaming.source, @streaming, token_code, @browser) %>

<div id="player">Loading the player...</div>
<script>
    jwplayer('player').setup({
        file: movieUrl,
        'image': 'http://www.dvdpost.be/images/screenshots/big/5975354_2.jpg'
    });
    console.log(movieUrl);
</script>
