<script>
    productImage = "<%= @product.image %>";
</script>
<%= jwplayer(@streaming.filename, @streaming.source, @streaming, "321456987", @browser) %>
<div id="player_default">Loading the player...</div>
<script>
    jwplayer('player_default').setup({
        file: movieUrl,
        autostart: false,
        controls: false,
        image: productImage
    });
</script>
