<style>
  .jw-skin-vapor .jw-icon-cast button {
    --disconnected-color: rgba(255, 255, 255, 0.6) !important;
  }
</style>
<%= jwplayerdefault(filename, source, streaming, token_code, browser, code = nil, season_id, episode_id, @product.image) %>
<div id="player_default">Loading the player...</div>
