<div class="container white-bck padb30">
  <button type="button" class="btn btn-primary" id="click">Primary</button>
</div>

<% content_for :run_specific_javascript do %>
    <%= javascript_include_tag "vod/sample" %>
<% end %>