<div id="critics-wrap">
  <div class="tab-container">
    <ul class="etabs osc tabs">
      <li class="tab" id='tab1_li'>
        <%= link_to t('products.show.members_critic'), '#tab1', :id => 'tab1_menu', :class => :active %>
      </li>                
    </ul>
    <div class="panel-container">
      <%= render :partial => "products/show/review_tab", :locals => {:chronicle => @chronicle, :product => product, :reviews_count => reviews_count, :reviews => reviews, :review_sort => review_sort, :product_title => product_title, :source => source, :response_id => response_id}%>
      </div>                
    </div>
  </div>
</div><!-- #critics-wrap -->
