<ul class="movie-gallery">
  <% 6.times do |i| %>
      <% t = i + 1 %>
  <li>
    <a href="<%= type == :adult ? product.preview_image(t, type) : product.preview_image_big(t, type) %>" class="fancybox" rel="movie-gallery">
      <%= image_tag product.preview_image(t, type), :class => "img-responsive" %>
    </a>
  </li>
  <% end %>
</ul>