<div id="carousel-wrap">
  <h2>
    <%= t '.title' %>
  </h2>
  <div id="carousel">
    <ul id="carousel-content">
      <%= render :partial => 'products/show/recommendation', :collection => recommendations, :locals => { :rating_color => rating_color} %>
    </ul>
    <%= will_paginate recommendations, :previous_label => 'Prev', :next_label => '', :page_links => false, :param_name => :recommendation_page, :id => 'prev', :class => 'like-btn', :container => false %>
    <%= will_paginate recommendations, :previous_label => '', :next_label => 'Next', :page_links => false, :param_name => :recommendation_page, :id => 'next', :class => 'like-btn', :container => false %>
  </div>
</div>