<% path = product_path(:id => recommendation_product.to_param, :source => @wishlist_source[:recommendation_product], :response_id => recommendation_response_id) %>
<% data = recommendation_product.description_data() %>
<% product_title = data[:title] %>
<% product_image = data[:image] %>
<% streaming_product = (recommendation_product.streaming?(params[:kind], session[:country_id]) and streaming_access?) ? true : false %>
<li class="jcarousel-item jcarousel-item-horizontal">
  <%  unless mobile_request? %>          	
  <a href="<%= path %>" class="<%= (streaming_product ? 'vod' : product_media_id(recommendation_product.media)) %>">
    <%= product_image_tag product_image, :width => 112, :height => 167, :alt => "#{product_title} (#{recommendation_product.year})" %>
  </a>
  <% end %>
  <%= link_to product_title, path %>
</li>