<div id="c-members">
  <% if @reviews_count > 0 %>
      <%= render :partial => 'products/show/reviews', :locals => {:product => product, :reviews_count => reviews_count, :reviews => reviews, :review_sort => review_sort, :source => source, :response_id => response_id} %>
  <% else %>
      <% if current_customer %>
          <p>
            <%= t 'products.show.no_review' %>
            <%= link_to "#{t('products.show.be_the_first')} #{product_title}!", new_product_review_path(:product_id => product.to_param, :source => source, :response_id => response_id), :id => 'add_new_review', :class => :facebox %>
          </p>
      <% end %>
  <% end %>