<div id="options">
  <%= t('actors.index.search_by') %> :
  <%= link_to t('actors.index.studios'), studios_path(:filter => params[:filter]), :class => params[:controller] == 'studios' ? "active" : "" %>
  |
  <%= link_to t('actors.index.performers'), actors_path(:filter => params[:filter]), :class => params[:controller] == 'actors' ? "active" : "" %>
  |
  <%= link_to t('actors.index.categories'), categories_path(:filter => params[:filter]), :class => params[:controller] == 'categories' ? "active" : "" %>
</div>