<div id="slider-view" class="block100">
  <div class="home-carousel-holder center-block">
    <div class="hr-with-words">
      <span class="Arial f30 light-blue"><%= params[:kind] == :adult ? t('home.index.tvod_adult_new').html_safe : t('home.index.tvod_new').html_safe %></span>
    </div>
    <section class="responsive-carousel slider">
      <%= render :partial => 'products/detail', :collection => @new_tvod, :locals => {:source => type = 'subscription' ? @wishlist_source[:subscription] : @wishlist_source[:hp_list]} %>
    </section>
  </div>
</div>
<div class="block100 text-center mart40">
  <%= link_to products_short_path(:package => t("routes.product.params.package.#{Moovies.packages.invert[params[:kind] == :adult ? 5 : 2]}"), :tag => 3), :class => "f25" do %>
      <i class="fa fa-play f15"></i> <%= t('home.index.all') %>
  <% end %>
</div>