<p id='lucky_title'><%= t('.title') %></p>
<p id='lucky_description'><%= t('.description') %></p>
<iframe src='http://www.luckycycle.com/play/<%= @lucky.computed_hash %>' height="700" width="930"></iframe>