<div style="position:relative !important; margin: 20px auto;width:400px">
  <div class="popup validation">
    <div class="content">
              <div id="addwishlist_title" ><%= t('.title') %></div>
             
              <p align="center"><%= link_to t('.over18'), validation_path(:valid => 1), :id => :yes, :class => I18n.locale %></p>
              <p align="center"><%= link_to t('.under18'), root_localize_path(:kind => nil), :id => :no %></p>
      
                <div id="movix_explain">
                  <%= t('.warning').html_safe %>
                </div>
           
            </div>
           
  </div>
</div>
