<div class="photobox-page">
	<div class="special">
		<div class="special-offer">
			<div class="special-offer-headline">Offre speciale</div>
			<div class="photobox-page-image">
				<%= image_tag("photobox/logo-photobox.png", alt: "Photobox") %>
			</div>
			<h3>Profitez de <span>75% de reduction</span> sur votre premier mois d'abonnement</h3>
		</div>
	</div>
	
	<div class="choise">
		<div class="headline"><h3>Choisissez le forfait qui vous convient</h3></div>
		<div class="choise-offer">
			<div class="choise-offer-select">
				<div class="offer-film">
					<div class="offer-film-number">2 films<div class="badge"><div class="badge-text">Le plus populaire</div></div></div>
					<div class="first-month">0,99€</div>
					<div class="first-month-text">le premier mois</div>
					<div class="next-month-text">(au lieu da <span><strike>3,99€</strike></span>)</div>
					<div class="offer-film-checkbox">
						<input type="radio" name="offer" id="select-offer-2"/>
						<label for="select-offer-2">
							<span></span>
						</label>
					</div>
				</div>
					<div class="vertical-line"></div>
				<div class="offer-film">
					<div class="offer-film-number">
						4 films
						<div class="badge active">
							<div class="badge-text">Le plus populaire</div>
						</div>
					</div>
					<div class="first-month">1,99€</div>
					<div class="first-month-text">le premier mois</div>
					<div class="next-month-text">(au lieu da <span><strike>7,99€</strike></span>)</div>
					<div class="offer-film-checkbox">
						<input type="radio" name="offer" id="select-offer-4"/>
						<label for="select-offer-4">
							<span></span>
						</label>
					</div>
				</div>
					<div class="vertical-line"></div>
				<div class="offer-film">
					<div class="offer-film-number">6 films<div class="badge"><div class="badge-text">Le plus populaire</div></div></div>
					<div class="first-month">2,99€</div>
					<div class="first-month-text">le premier mois</div>
					<div class="next-month-text">(au lieu da <span><strike>11,99€</strike></span>)</div>
					<div class="offer-film-checkbox">
						<input type="radio" name="offer" id="select-offer-6"/>
						<label for="select-offer-6">
							<span></span>
						</label>
					</div>
				</div>
			</div>
			<div class="choise-offer-list">
				<div class="choise-offer-list-style">
					<button class="code-button">VALIDER</button>
				</div>
				<div class="choise-offer-list-style">
					<ul>
						<li><div class="list-style-blue"></div><b>Acces a tout le catalogue</b> (3000 films, nouveautes comprises)</li>
						<li><div class="list-style-blue"></div>Les abonnements sont <b>sans engagement</b>, <u>vous arretez quand vous voulez, sans frais</u></li>
						<li><div class="list-style-blue"></div>Vous pouvez <b>augmenter</b> ou <b>diminuer</b> votre abonnement autant de fois que vous le desirez</li>
						<li><div class="list-style-blue"></div>Certains films (5%) necessitent <b>2 credits</b> pour etre regardes.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="cards">
		<%= image_tag("photobox/pay-cards.png", alt: "pay-cards") %>
		<center><span class="cards-bottom-text">Secured online transactions managed by Ingenico</span></center>
	</div>
</div>
