<tr>
  <td colspan="2">
    <table id='nickname' >
    <tr>
      <td align="right" valign="top" class="adresse" width ='203'><strong><%= t '.nickname' %> :</strong></td>
      <td align="left" valign="top" class="adresse" width ="257">
        <%= customer.nickname %><br/>
      </td>
    </tr>
    <tr>
      <td align="right" valign="top" class="adresse"></td>
      <td align="right" valign="top" id="modif">
        <ul>
          <li class="links">
            <%= link_to t('.nickname_create'), edit_customer_path(:type => :nickname), :class => 'modification_address facebox' %>
          </li>
        </ul>
      </td>
    </tr>
    </table>
  </td>
</tr>
