<div class="container white-bck dark-gray padb20">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 compte-left">
    <%= render :partial => 'customers/show/account', :locals => {:customer => @customer} %>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 compte-right">
    <%= render :partial => 'customers/show/subscription', :locals => {:customer => @customer, :streaming_available => @streaming_available} %>
  </div>
</div>
