<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contact-right">
  <h3 class="f25 pad0 mart0"><%= t('.title') %></h3>
  <p class="mart15">Nous vous offrons aussi la possibilité d’être rappelé par notre service clientèle quand vous êtes disponible (le lundi de 10h à 16h et du mardi au vendredi de 9h à 16h).
    Pour ce faire, il vous suffit de remplir les cases ci-dessous.</p>
  <div class="form-group block100 pad10 thin-green2-bck mart10 radius4">
    <form id="service">
      <div class="block100">
        <input type="radio" class="iradio" name="service" value="1"/> <strong>Service technique</strong>
        <p class="italic">Questions concernant les problèmes de VOD,... </p>
      </div>
      <div class="block100 mart5">
        <input type="radio" class="iradio" name="service" value="2"/> <strong>Service facturation</strong>
        <p class="italic">Questions concernant votre abonnement, votre facturation,... </p>
      </div>
      <div class="block100 mart5">
        <input type="radio" class="iradio" name="service" value="3"/> <strong>Service administratif</strong>
        <p class="italic">Questions concernant les mises à jour du profil (coordonnées, formules d'abonnement...)</p>
      </div>
      <div class="block100 mart5">
        <strong class="clearfix">Dans quelle langue désirez-vous être rappelé?</strong> <input type="radio" class="iradio" name="lg" value="1"/> Français
        <input type="radio" class="iradio" name="lg" value="2"/> Nederlands <input type="radio" class="iradio" name="lg" value="3"/> English
      </div>
      <div class="block100 mart10">
        <strong class="clearfix">N° de tel</strong> <input type="text" name="telephone" placeholder="Tel number"/>
      </div>
      <div class="block100 mart10">
        <strong class="clearfix">Date souhaitée de rappel</strong> <input type="text" name="date" id="date" placeholder="Date"/>
      </div>
      <div class="block100 mart10">
        <strong class="clearfix">Créneaux horaires</strong>
        <select id="select-drop" name="hours">
          <option value="9h00 - 9h30">9h00 - 9h30</option>
          <option value="9h30 - 10h00">9h30 - 10h00</option>
          <option value="10h00 - 10h30">10h00 - 10h30</option>
          <option value="10h30 - 11h00">10h30 - 11h00</option>
          <option value="11h00 - 11h30">11h00 - 11h30</option>
          <option value="11h30 - 12h00">11h30 - 12h00</option>
          <option value="12h00 - 12h30">12h00 - 12h30</option>
          <option value="12h30 - 13h00">12h30 - 13h00</option>
          <option value="13h00 - 13h30">13h00 - 13h30</option>
          <option value="13h30 - 14h00">13h30 - 14h00</option>
          <option value="14h00 - 14h30">14h00 - 14h30</option>
          <option value="14h30 - 15h00">14h30 - 15h00</option>
          <option value="15h00 - 15h30">15h00 - 15h30</option>
          <option value="15h30 - 16h00">15h30 - 16h00</option>
          <option value="16h00 - 16h30">16h00 - 16h30</option>
          <option value="16h30 - 17h00">16h30 - 17h00</option>
        </select>
        <div class="drop-holder"></div>
      </div>
      <div class="block100 mart20">
        <a href="index.php%3Fpage=contact.html#" class="btn green-bck OpenSansCondensed f23" id="service-submit-form">Confirmer</a>
      </div>
    </form>
  </div>
</div>