<div id="step_wrap">
  <div id="step_container">
    <div class="step_form">
      <div class="step_2 step <%= I18n.locale %>" align="center"></div>
      <h3><%= t('.title') %></h3>
    </div>
  </div>
</div>