<div class="container white-bck">
  <h1 class="green pad0 mart10 f30 OpenSansCondensed block100"><%= t('.congrats') %></h1>
  <p class="block100"><%= t('.congrats_desc').html_safe %> </p>
  <%= render :partial => 'home/index/lists', :locale => {:type => 'subscription'} %>
</div>
