<% s = message.communication.to_s %>
<tr>
  <td><%= message.date_added.strftime("%d/%m/%Y") %></td>  
  <td><%=  number_to_currency(message.amount, :unit => '&euro;', :separator => ",", :delimiter => "", :format => "%n %u", :locale => :en) %> </td>  
  <td><%= offline_payment_type(message.payment_method) %></td>  
  <td><%= "+++#{s[0,3]}/#{s[3,4]}/#{s[7,5]}+++" %></td>  
  <td>BE62.0682.4168.8661</td>  
</tr>