<footer>
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2">
        <div class="footer-border"></div>
        <ul class="list-inline">
          <li><%= link_to t("ft_error_page.Forbidden.Register.HOME"), root_localize_path %></li>
          <li></li>
          <li><%= switch_locale_link(params) %></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
