<div class="form-bottom">
  <form role="form" action="" method="post" class="registration-form" id="FreeTrialRegister">
    <div class="form-group">
      <label class="sr-only" for="FreeTrialLoginEmailAddress">Email Address</label>
      <input type="text" name="FreeTrialLoginEmailAddress" placeholder="<%= t("ft_error_page.Forbidden.Login.3") %>" class="FreeTrialLoginEmailAddress form-control" id="FreeTrialLoginEmailAddress">
    </div>
    <div class="form-group">
      <label class="sr-only" for="FreeTrialLoginEmailPassword">Password</label>
      <input type="password" name="FreeTrialLoginEmailPassword" placeholder="<%= t("ft_error_page.Forbidden.Login.4") %>" class="FreeTrialLoginEmailPassword form-control" id="FreeTrialLoginEmailPassword">
    </div>
    <div class="form-group">
      <label class="sr-only" for="FreeTrialLoginEmailPasswordConfirmation">Password Confirmation</label>
      <input type="password" name="FreeTrialLoginEmailPasswordConfirmation" placeholder="<%= t("ft_error_page.Forbidden.Register.2") %>" class="FreeTrialLoginEmailPasswordConfirmation form-control" id="FreeTrialLoginEmailPasswordConfirmation">
    </div>
    <button type="submit" class="btn"><%= t("ft_error_page.Forbidden.Register.2") %></button>
  </form>
</div>
