<a href="/auth/facebook?code=<%= params[:code] %>;ACTION_TYPE=FREETRIAL" class="btn-lg btn-block btn-social btn-facebook" <span class="fa fa-facebook"></span> <%= t("FT_FB_SU") %></a>
<div class="form-top-left">
  <h3><%= t("ft_error_page.Forbidden.Register") %></h3>
  <p><%= t("ft_error_page.Forbidden.Register.1") %></p>
</div>
