<div class="container white-bck">
  <h1 class="violet">Catalogue 18+</h1>
  <div class="block100 marb20 padt20 charts-top">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 charts-buttons left-promo-code">
      <% if params[:subscription_action].present? && params[:subscription_action] == "subscription_change" %>
          <%= link_to t('info.index.price_public.choose_svod_tvod').html_safe, info_path(:page_name => "alacarte", :subscription_action => "subscription_change"), :class => "btn green-bck OpenSansCondensed f23 block100", :id => "button-la-carte" %>
      <% else %>
          <%= link_to t('info.index.price_public.choose_svod_tvod').html_safe, info_path(:page_name => "alacarte"), :class => "btn green-bck OpenSansCondensed f23 block100", :id => "button-la-carte" %>
      <% end %>
      <% if params[:subscription_action].present? && params[:subscription_action] == "subscription_change" %>
          <%= link_to t('info.index.price_public.choose_svod_svod').html_safe, info_path(:page_name => "unlimited", :subscription_action => "subscription_change"), :class => "btn OpenSansCondensed f23 block100", :id =>"button-la-unlmited" %>
      <% else %>
          <%= link_to t('info.index.price_public.choose_svod_svod').html_safe, info_path(:page_name => "unlimited"), :class => "btn OpenSansCondensed f23 block100", :id =>"button-la-unlmited" %>
      <% end %>
    </div>
    <div class="block100 mart20">
      Vous pouvez louer films à la piéce directement à partir du catalogue, ou prendre un abonnement pour bénéficier de prix avantageux (1,99€ au lieu de 2,99€ pour la plupart des films, et
      3,99€ au lieu de 4,99€ pour les derniéres sorties).
    </div>
  </div>

  <div class="planSelectionContainer">

    <!--TABLE HEADER-->
    <div class="planTable">

      <!--header row full-->
      <div class="headerRow show" id="header-chart">
        <div class="columnHeader"></div>
        <div class="cell selected pt-header-with-border">
          <div>
            <div class="selborder">
              <div class="cellContent" data-box-order="3">200 films X Illimité</div>
            </div>
            <div class="arrow"></div>
          </div>
        </div>
      </div>
      <!--/header row full-->

    </div>
    <!--/TABLE HEADER-->


    <!--TABLE OPTIONS-->
    <div class="planTable planTableOptions">
      <div class="alt">Tarif mensuel (21/04/2017)</div>
      <div class="row">
        <div class="columnHeader">Tarif mensuel (21/04/2017)</div>
        <div class="cell bodyCell selected">EUR9.99</div>
      </div>
      <div class="alt">200 films adultes en accès Illimité</div>
      <div class="row">
        <div class="columnHeader">4200 films adultes en accès Illimité</div>
        <div class="cell bodyCell icon-plainCheck selected"></div>
      </div>
      <div class="alt">Accès sur ordinateur, smartphone, TV, Playstation</div>
      <div class="row">
        <div class="columnHeader">Accès sur ordinateur, smartphone, TV, Playstation</div>
        <div class="cell bodyCell icon-plainCheck selected"></div>
      </div>
      <div class="alt">Nombre d’utilisateurs simultanés</div>
      <div class="row">
        <div class="columnHeader">Nombre d’utilisateurs simultanés</div>
        <div class="cell bodyCell selected">illimité</div>
      </div>
      <div class="alt">Annulable à tout moment</div>
      <div class="row">
        <div class="columnHeader">Annulable à tout moment</div>
        <div class="cell bodyCell icon-plainCheck selected"></div>
      </div>

    </div>
    <!--/TABLE OPTIONS-->

    <!--DISCLAIMER-->
    <div class="block100 padlr10 normal mart15 f14">
      Pour connaître les supports sur lesquels Plush est disponible, cliquez ici. Tous les contenus ne sont pas disponibles en HD.
    </div>
    <!--/DISCLAIMER-->

    <!--BUTTON-->
    <div class="block100 mart15 padlr15">
      <form>
        <input type="hidden" name="package" value=""> <input type="submit" class="btn pad10 f20 violet-bck" id="continue-package" value="Continuer">
      </form>
    </div>
    <!--/BUTTON-->

    <div class="block100 padlr15">Des questions? Appelez le 0800/26371</div>
    <div class="block100 padlr15 mart15 marb30">
      <a href="index.php%3Fpage=charts-18.html#">Conditions d’utilisation</a>
    </div>

  </div>

</div>
