<div class="container white-bck dark-gray padb20">
  <div class="block100 mart30 text-center"></div>
  <h1 class="OpenSansCondensed f30 green pad0 mar0 mart10"><%= t '.title' %></h1>
  <div class="block100 mart20 border-bottom padb10">
    <%= t('.info').html_safe %>
  </div>
</div>