<div class="container clearfix">
  <div id="wrap">
    <div id="header" >
      <h1><a href="#" class="f-btn" style="">plush.be</a></h1>
      <h2><a href="http://www.samsung.com/be" class="f-btn">http://www.samsung.com/be/</a></h2>
    </div>
    <div class="choice_language">
      <h3>Choisissez votre langue - Kies uw taal</h3>
      <div class="left" ><%= link_to 'Fran&ccedil;ais'.html_safe, promotion_localize_path(:id => 'samsung', :locale => :fr),:class => "button_languages" %>
      </div>
      <div class="right"> <%= link_to 'Nederlands', promotion_localize_path(:id => 'samsung', :locale => :nl),:class => "button_languages" %>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</div>




