<div id="filters-open-adaptive" class="green">
  <div>
    <span class="f15 display-block">FILTER</span>
    <i class="fa fa-arrow-down f20 display-block" aria-hidden="true"></i>
  </div>
</div>
<div id="overlay"></div>
<div id="on-top" class="pad10 radius4 dark-gray-bck">
  <i class="fa fa-angle-up f30 light-gray"></i>
</div>