<div class="side-menu box-shadow">
  <div class="side-menu-close f33"></div>
  <div class="side-menu-login mart10 block100"></div>
  <div class="side-menu-nav mart15 block100"></div>
  <div class="side-menu-search mart15"></div>
</div>