<div class="container white-bck dark-gray padb20">
  <h1 class="OpenSansCondensed f30 green pad0 mar0 mart10"><h1>Angular Test</h1></h1>
  <div class="block100 mart20 border-bottom padb10">
    <section id="angular-test">
      <plush-angular-test></plush-angular-test>
    </section>
  </div>
</div>
<%= javascript_include_tag *webpack_asset_paths("angular_test") %>