<h2 class="OpenSansCondensed f30">Mon compte</h2>
<div class="form-group lightergray-bck">
  <span class="bold">N° client:</span>
  85038
</div>
<div class="form-group">
  <span class="bold">Identifiant Plush:</span>
  nidzoni@gmail.com
</div>
<div class="form-group lightergray-bck">
  <span class="bold">Nom:</span>
  Beljanski
</div>
<div class="form-group">
  <span class="bold">Prénom:</span>
  Nikola
</div>
<div class="form-group lightergray-bck">
  <span class="bold">N° de téléphone:</span>
  123456789
</div>

<a href="index.php%3Fpage=mon-compte.html#" class="btn green-bck OpenSansCondensed f23 mart20" data-toggle="modal" data-target="#mon-compte-modal">Modifier mon compte</a>
<a href="index.php%3Fpage=mon-compte.html#" class="btn light-blue-bck OpenSansCondensed f23 mart20" data-toggle="modal" data-target="#adresse-modal">Modifier mon adresse</a>

<div class="form-group lightergray-bck mart20">
  <span class="bold">Mes cotations:</span>
  0
</div>
<div class="form-group">
  <span class="bold">Mes critiques:</span>
  0
</div>
<div class="form-group lightergray-bck">
  <span class="bold">Mon pseudo:</span>
  -
</div>

<a href="index.php%3Fpage=mon-compte.html#" class="btn green-bck OpenSansCondensed f23 mart20" data-toggle="modal" data-target="#pseudo-modal">Changer de pseudo</a>

<div class="form-group lightergray-bck block100 mart20" id="newsletter-infos-form">
  <span class="bold pull-left">Newsletters infos Plush:</span>
  <div class="col-md-3 col-sm-3">
    <input type="radio" class="iradio" name="newsletter-infos" value="1" checked/> Activé
  </div>
  <div class="col-md-3 col-sm-3">
    <input type="radio" class="iradio" name="newsletter-infos" value="0"/> Deactivé
  </div>
</div>
<div class="form-group block100" id="newsletter-partenaires-form">
  <span class="bold pull-left">Newsletters partenaires:</span>
  <div class="col-md-3 col-sm-3">
    <input type="radio" class="iradio" name="newsletter-partenaires" value="1"/> Activé
  </div>
  <div class="col-md-3 col-sm-3">
    <input type="radio" class="iradio" name="newsletter-partenaires" value="0" checked/> Deactivé
  </div>
</div>
<div class="form-group lightergray-bck block100" id="newsletter-adulte-form">
  <span class="bold pull-left">Newsletter adulte:</span>
  <div class="col-md-3 col-sm-3">
    <input type="radio" class="iradio" name="newsletter-adulte" value="1" checked/> Activé
  </div>
  <div class="col-md-3 col-sm-3">
    <input type="radio" class="iradio" name="newsletter-adulte" value="0"/> Deactivé
  </div>
</div>