<div class="form-group lightergray-bck block100 mart20" id="newsletter-infos-form">
  <span class="bold pull-left">Newsletters infos Plush:</span>
  <div class="col-md-3 col-sm-3">
    <input type="radio" class="iradio" name="newsletter-infos" value="1" checked/> Activé
  </div>
  <div class="col-md-3 col-sm-3">
    <input type="radio" class="iradio" name="newsletter-infos" value="0"/> Deactivé
  </div>
</div>

<% if current_customer.customers_newsletter == 0 %>

<% end %>

<% if current_customer.customers_newsletter == 1 %>

<% end %>