<div class="form-group lightergray-bck">
  <span class="bold"><%= t '.nickname' %>:</span>
  <%= customer.nickname %>
</div>

<%= link_to t('.nickname_create'), edit_customer_path(:type => :nickname), :class => 'btn green-bck OpenSansCondensed f20 mart20', rel: "facebox" %>
