<h2 class="OpenSansCondensed f30 dark-gray">Mon abonnement</h2>
<div class="form-group">
  <span class="bold">Votre abonnement:</span>
  4 crédits film par mois
</div>
<div class="form-group lightergray-bck">
  <span class="bold">Your Next Account:</span>
  4 crédits film par mois
</div>

<a href="index.php%3Fpage=mon-compte.html#" class="btn green-bck OpenSansCondensed f23 mart20" data-toggle="modal" data-target="#suspendre-modal">Suspendre mon abonnement</a>
<a href="index.php%3Fpage=mon-compte.html#" class="btn light-blue-bck OpenSansCondensed f23 mart20" data-toggle="modal" data-target="#arreter-modal">Arrêter mon abonnement</a>

<div class="form-group mart20">
  <span class="bold">Films classiques dans votre sélection:</span>
  0
</div>
<div class="form-group lightergray-bck">
  <span class="bold">Films adulte dans votre sélection:</span>
  0
</div>

<a href="index.php%3Fpage=mon-compte.html#" class="btn green-bck OpenSansCondensed f23 mart20">Modifier ma méthode de paiement</a>
<a href="index.php%3Fpage=mon-compte.html#" class="btn light-blue-bck OpenSansCondensed f23 mart20">Modifier mon abonnement</a>

<div class="form-group mart20">
  <span class="bold">Renouvellement le:</span>
  15/04/2017
</div>
