<!-- <h3 class="dark-gray pad0 mar0 marb10"><#%= t("cc.stop_my_subscription.title").html_safe %></h3> -->
<h3 class="dark-gray pad0 mar0 marb10"><%= t("cc.stop_my_subscription.title").html_safe %></h3>
<%= t("cc.stop_my_subscription.message").html_safe %>
