.pinkBanner {
  overflow: hidden;
  position: relative;
  min-height: 54px;
  width: 970px;
  margin: 0px auto;
  font-family: 'Helvetica','Open Sans Condensed', sans-serif !important; }
  .pinkBanner ._toggleImage1_, .pinkBanner ._toggleSpan1_ {
    display: none !important; }
  .pinkBanner .pinkBannerTop {
    position: relative;
    width: 100%;
    z-index: 1;
    height: 54px;
    background: #C36EC3;
    display: table;
    width: 100%;
    -webkit-transition: all 0.6s linear;
       -moz-transition: all 0.6s linear;
         -o-transition: all 0.6s linear;
            transition: all 0.6s linear; }
    .pinkBanner .pinkBannerTop._open_ {
      height: 30px; }
      .pinkBanner .pinkBannerTop._open_ ._toggleImage1_, .pinkBanner .pinkBannerTop._open_ ._toggleSpan1_ {
        display: inline-block !important; }
      .pinkBanner .pinkBannerTop._open_ ._toggleImage2_, .pinkBanner .pinkBannerTop._open_ ._toggleSpan2_ {
        display: none !important; }
      .pinkBanner .pinkBannerTop._open_ > div:nth-child(2) {
        opacity: 0; }
      .pinkBanner .pinkBannerTop._open_ > div:last-child {
        opacity: 0; }
      .pinkBanner .pinkBannerTop._open_ > div {
        -webkit-transition: all 0.2s linear;
           -moz-transition: all 0.2s linear;
             -o-transition: all 0.2s linear;
                transition: all 0.2s linear; }
    .pinkBanner .pinkBannerTop > div {
      display: table-cell;
      vertical-align: middle;
      word-wrap: break-word;
      -webkit-transition: all 0.2s linear;
         -moz-transition: all 0.2s linear;
           -o-transition: all 0.2s linear;
              transition: all 0.2s linear; }
    .pinkBanner .pinkBannerTop > div:first-child {
      width: 29%;
      font-size: 12px; }
      .pinkBanner .pinkBannerTop > div:first-child img._toggleImage1_ {
        width: 11px;
        height: 5px;
        margin-left: 30px;
        margin-right: 7px;
        display: inline-block;
        vertical-align: middle; }
      .pinkBanner .pinkBannerTop > div:first-child img._toggleImage2_ {
        width: 18px;
        height: 22px;
        margin-left: 30px;
        margin-right: 7px;
        display: inline-block;
        vertical-align: middle; }
      .pinkBanner .pinkBannerTop > div:first-child a {
        color: #181e25; }
    .pinkBanner .pinkBannerTop > div:nth-child(2) {
      width: 40%;
      text-align: center; }
    .pinkBanner .pinkBannerTop > div:last-child {
      width: 30%;
      text-align: right;
      font-size: 12px;
      color: white; }
      .pinkBanner .pinkBannerTop > div:last-child img {
        width: 33px;
        height: 34px;
        margin-right: 16px;
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle; }
      .pinkBanner .pinkBannerTop > div:last-child > div {
        display: inline-block;
        vertical-align: middle;
        text-align: left; }
        .pinkBanner .pinkBannerTop > div:last-child > div a {
          color: white !important; }
  .pinkBanner h2 {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: black;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500; }
    .pinkBanner h2 a, .pinkBanner h2 a:hover, .pinkBanner h2 a:focus, .pinkBanner h2 a:active {
      color: black;
      font-weight: normal; }
  .pinkBanner .pinkBannerInlineBlock {
    display: inline-block; }
  .pinkBanner .pinkBannerOpen {
    display: table;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 25px;
    -webkit-transition: all 0.6s linear;
       -moz-transition: all 0.6s linear;
         -o-transition: all 0.6s linear;
            transition: all 0.6s linear;
    margin-top: -250px; }
    .pinkBanner .pinkBannerOpen._open_ {
      margin-top: 0px;
      -webkit-transition: all 0.6s linear;
         -moz-transition: all 0.6s linear;
           -o-transition: all 0.6s linear;
              transition: all 0.6s linear; }
    .pinkBanner .pinkBannerOpen > div {
      display: table-cell;
      vertical-align: middle;
      word-wrap: break-word;
      width: 50%; }
    .pinkBanner .pinkBannerOpen > div:first-child {
      padding-left: 30px;
      border-right: 2px solid #eaeaea; }
      .pinkBanner .pinkBannerOpen > div:first-child ul {
        margin: 0;
        padding: 0; }
        .pinkBanner .pinkBannerOpen > div:first-child ul li {
          list-style: none;
          color: black;
          font-size: 15px;
          line-height: auto;
          margin-bottom: 8px; }
      .pinkBanner .pinkBannerOpen > div:first-child ul:first-child {
        margin-bottom: 55px; }
    .pinkBanner .pinkBannerOpen > div:last-child {
      padding-left: 30px;
      font-size: 13px; }
      .pinkBanner .pinkBannerOpen > div:last-child table {
        margin-bottom: 30px; }
        .pinkBanner .pinkBannerOpen > div:last-child table td {
          padding-top: 5px;
          padding-bottom: 5px;
          word-wrap: break-word; }
      .pinkBanner .pinkBannerOpen > div:last-child ._inputContainer {
        margin-top: 7px;
        clear: both; }
      .pinkBanner .pinkBannerOpen > div:last-child input[type='submit'] {
        font-size: 14px;
        color: white;
        border: 1px solid #34adac;
        background: #34adac;
        outline: none;
        -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
                border-radius: 6px;
        line-height: 20px;
        -webkit-transition: all 0.2s linear;
           -moz-transition: all 0.2s linear;
             -o-transition: all 0.2s linear;
                transition: all 0.2s linear;
        cursor: pointer; }
        .pinkBanner .pinkBannerOpen > div:last-child input[type='submit']:hover {
          background: #288685; }
        .pinkBanner .pinkBannerOpen > div:last-child input[type='submit']._redBackground_ {
          background: #eb212e; }
          .pinkBanner .pinkBannerOpen > div:last-child input[type='submit']._redBackground_:hover {
            background: #c7121e; }
      .pinkBanner .pinkBannerOpen > div:last-child .mt44 {
        margin-top: 44px; }
      .pinkBanner .pinkBannerOpen > div:last-child input[type="text"] {
        width: 230px !important;
        outline: none;
        border: 2px solid #c3c3c3;
        padding: 0px 0px 0px 5px;
        margin: 0;
        line-height: 22px;
        font-size: 13px; }
        .pinkBanner .pinkBannerOpen > div:last-child input[type="text"]::-webkit-input-placeholder {
          font-size: 13px;
          color: #817e7e; }
        .pinkBanner .pinkBannerOpen > div:last-child input[type="text"]:-moz-placeholder {
          font-size: 13px;
          color: #817e7e; }
        .pinkBanner .pinkBannerOpen > div:last-child input[type="text"]::-moz-placeholder {
          font-size: 13px;
          color: #817e7e; }
        .pinkBanner .pinkBannerOpen > div:last-child input[type="text"]:-ms-input-placeholder {
          font-size: 13px;
          color: #817e7e; }
        .pinkBanner .pinkBannerOpen > div:last-child input[type="text"]::placeholder {
          font-size: 13px;
          color: #817e7e; }
      .pinkBanner .pinkBannerOpen > div:last-child img {
        width: 47px;
        height: 47px;
        float: left;
        margin-right: 6px;
        margin-top: 1px; }
        .pinkBanner .pinkBannerOpen > div:last-child img + label {
          display: inline;
          vertical-align: middle;
          font-size: 13px;
          line-height: 13px; }
  .pinkBanner ._blueColor_ {
    color: #48a9a8; }
  .pinkBanner ._greenColor_ {
    color: #60b13a; }
  .pinkBanner ._underline_ {
    text-decoration: underline; }
  .pinkBanner ._bold_ {
    font-weight: bold; }
  .pinkBanner ._redColor_ {
    color: #eb212e; }
  .pinkBanner ._normal_ {
    font-weight: normal; }
  .pinkBanner ._hidden_ {
    display: none; }
  .pinkBanner ._errorMessage_ {
    color: #eb212e;
    margin-top: 4px; }
