//= require jquery-1.9.1.min
//= require bootstrap.min
//= require jquery-ui.min
//= require slick.min
//= require modernizr
//= require jquery.validate
//= require facebox-bootstrap
//= require chosen.jquery.min
//= require bootstrap-datepicker
//= require jquery.raty-fa
//= require jquery.waitforimages
//= require tag-it.min
//= require ion.rangeSlider.min
//= require fancybox
//= require cycle
//= require icheck.min
//= require history
//= require scripts

window.onload = function () {
    if (typeof(Storage) !== "undefined") {
        if (gon && gon.current_customer === null && localStorage.getItem("plush_temporary_email") !== null) {
            $.ajax({
                method: 'POST',
                //url: '/orange/lu/api/automatic_login',
                data: {
                    'plush_phone_number': localStorage.getItem("plush_phone_number")
                },
                dataType: 'json',
                success: function (response) {
                    if (0 === response.status) {
                        $(".login-holder").empty();
                        if (gon && gon.locale === "fr") {
                            autoLoginMenuFR = "<li>" +
                                "<a href=\"/fr/mon-compte/sign_out\" data-method=\"delete\" id=\"logout\" rel=\"nofollow\">Déconnexion</a> <span>(4dae@plush.temp)</span>" +
                                "</li>" +
                                "<li>" +
                                "<a href='fr/mon-compte/' + response.current_customer_id + '>Mon compte</a>" +
                                "</li>";
                            $(".login-holder").html(autoLoginMenuFR);
                        } else if (gon && gon.locale === "nl") {
                            autoLoginMenuNL = "<li>" +
                                "<a href=\"/nl/mijn-account/sign_out\" data-method=\"delete\" id=\"logout\" rel=\"nofollow\">Uitloggen</a> <span>(4dae@plush.temp)</span>" +
                                "</li>" +
                                "<li>" +
                                "<a href='/nl/mijn-account/' + response.current_customer_id + '>Mijn account</a>" +
                                "</li>";
                            $(".login-holder").html(autoLoginMenuNL);
                        } else if (gon && gon.locale === "en") {
                            autoLoginMenuEN = "<li>" +
                                "<a href=\"/en/my-account/sign_out\" data-method=\"delete\" id=\"logout\" rel=\"nofollow\">Log out</a> <span>(4dae@plush.temp)</span>" +
                                "</li>" +
                                "<li>" +
                                "<a href='/en/my-account/' + response.current_customer_id + '>My account</a>" +
                                "</li>";
                            $(".login-holder").html(autoLoginMenuEN);
                        }
                    }
                },
                error: function (response) {
                    console.log('CHECKED AJAX ERROR!!!');
                }
            });
        }
    } else {
        console.log("Sorry! No Web Storage support..");
    }
};

$(document).ready(function () {

    $('a[rel*=facebox]').facebox();

    var originalLeave = $.fn.popover.Constructor.prototype.leave;
    $.fn.popover.Constructor.prototype.leave = function (obj) {
        var self = obj instanceof this.constructor ? obj : $(obj.currentTarget)[this.type](this.getDelegateOptions()).data('bs.' + this.type);
        originalLeave.call(this, obj);

        if (obj.currentTarget) {
            self.$tip.one('mouseenter', function () {
                clearTimeout(self.timeout);
                self.$tip.one('mouseleave', function () {
                    $.fn.popover.Constructor.prototype.leave.call(self, self);
                });
            })
        }
    };

    function popoverTrig() {
        $('.popper').popover({
            placement: "left",
            trigger: "hover",
            container: 'body',
            html: true,
            delay: {
                show: 300,
                hide: 100
            },
            content: function () {
                return $(this).next('.synopsys-content').html();
            }
        })
    };

    // home slider
    $('.responsive-carousel').slick({
        dots: false,
        infinite: false,
        speed: 200,
        slidesToShow: 5,
        slidesToScroll: 2,
        responsive: [
            {
                breakpoint: 980,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 2,
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            }
        ]
    });

    //raty stars
    $('.slide-score').raty({
        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        }
    });

    // synopsis adaptive trigg open
    $('.synopsys-adaptive-open').on('click', function () {
        $('.synopsys-adaptive-open').removeClass('hidden');
        $(this).addClass('hidden');
        $('.synopsys-content').removeClass('on');
        $(this).prev('.synopsys-content').addClass('on');
        return false;
    })

    // synopsis adaptive trigg close
    $('.synopsys-adaptive-close').on('click', function () {
        $(this).closest('.slick-slide').children('.synopsys-adaptive-open').removeClass('hidden');
        $(this).closest('.grid-slide').children('.synopsys-adaptive-open').removeClass('hidden');
        $(this).closest('.synopsys-content').removeClass('on');

        return false;
    })

    // modernizr
    function checkModernizr() {
        if (Modernizr.mq('(min-width: 981px)')) {
            popoverTrig();
            fancyboxBinder();
        }
        if (Modernizr.mq('(max-width: 980px)')) {
            $('.popper').popover('destroy');
            fancyboxUnBinder();
        }
    }

    // the call to checkMq here will execute after the document has loaded
    checkModernizr();

    $(window).resize(function () {
        checkModernizr();
    });

    $('.tags-autocomplete-holder li.ui-menu-item').on('click', function (e) {
        e.preventDefault();
    });

    function fancyboxBinder() {
        $(".fancybox").unbind('click')
        $("a.fancybox").fancybox({
            padding: 5,
            helpers: {
                overlay: {
                    locked: false,
                    overlayShow: true
                }
            },
        })
    }

    function fancyboxUnBinder() {
        $.fancybox.close();
        $(".fancybox").bind('click', function (e) {
            e.preventDefault();
        })
        $(document).unbind('click.fb-start');
    }

});
