<% path = studio_products_path(:studio_id => studio_pict.to_param, :filter => params[:filter]) %>
<div class="studios">
  <div class="name"><%= link_to studio_pict.name, path %></div>
  <%= link_to image_tag(studio_pict.image), path, :alt => studio_pict.name , :class => "distributors" %>
  <%= link_to t('.all'), path, :alt => studio_pict.name , :class => "more" %>
  
</div>
