<div class="container white-bck dark-gray padb20">
  <h1 class="OpenSansCondensed f30 green pad0 mar0 mart10"><%= t 'wister_conditions_title' %></h1>
  <div class="block100 mart20 border-bottom padb10">
    <%= t('wister_conditions_info').html_safe %>
  </div>
</div>