/*** menu actors ***/
#options {
  font-size: 1.50em;
  margin-bottom: 10px;
  position: relative;
  color :#9F9E98;
  margin:10px;
}
#options a, p#letters a, ul#search-studio li li a, ul#search-performers li li a, p#filter a {
  text-decoration: none;
    color: #9F9E98;
}
#options a:hover, #options a.active, p#letters a:hover, ul#search-studio li li a:hover, ul#search-performers li li a:hover,
p#filter a:hover, p#filter a.active {
  color: #993399;
   text-decoration: underline;
   
}
#options a.right {
  font-size: 0.61em;
  text-decoration: underline;
  padding-left:16px;
  background: url(image_path('link-arrow.gif')) 0 0 no-repeat;
}
*+html #options a.right {
  position: absolute;
  top: 5px;
  right: 0;
}


#options a.right:hover {
  text-decoration: none;
}

/****/


#actors .container { background: #fff;}
#actors .container2 { padding: 0 0 0 45px; background: #fff;}
#actors  .container ul, .container ol, .container dl {
    line-height: 1.4em;
}
#actors p {
    line-height: 1.4em;
    margin-bottom: 18px;
}
h1, h2, h3, h4, h5, h6, form, fieldset, p {
    margin: 0;
    padding: 0;
}
#actors #wrap {
    text-align: left;
}
/*   Search Studio   */


p#letters {
  text-align: center;
  font-size: 1.5em;
  color: #9F9E98;
}


ul#search-studio, ul#search-performers {
  list-style: none;
  padding-top: 15px;
  margin:0 -5px 0 0;
}
ul#search-performers {
  margin-right: -10px;
}


ul#search-studio li {
  width: 121px;
  padding-left: 50px;
  position: relative;
  margin: 0 5px 5px 0;
  display: inline-block;
  vertical-align: top;
  min-height: 260px;
  zoom: 1;
  *display: inline;
}
ul.search-categories li
{
  min-height: 100px !important;
}
ul#search-performers li {
  width: 115px;
  padding-left: 111px;
  position: relative;
  margin: 0 5px 5px 0;
  display: inline-block;
  vertical-align: top;
  min-height: 270px;
  zoom: 1;
*display: inline;
}


ul#search-studio li .letter {
  width: 45px;
 position: absolute;
 top: 0;
 left: 0;
  font-weight: bold;
  font-size: 2.50em;
  text-align: right;
  color: #9F9E98;
  line-height:19px;
}

ul#search-performers li .letter {
font-weight: bold;
  font-size: 2.50em;
  color: #9F9E98;
  display: block;
  margin-left: -115px;
  line-height:19px;
  
}
*+html ul#search-studio li .letter, *+html ul#search-performers li .letter  {
   line-height: normal;
}


ul#search-studio li a, ul#search-performers a {
  color: #23161b;
}
ul#search-studio li a.more, ul#search-performers a.more {
  padding-left: 16px;
  background: url(image_path('link-arrow.gif')) 0 0 no-repeat;
  display: block;
  clear: both;
}
ul#search-performers a.more {
  font-size: .92em;
}


ul#search-studio li ol, ul#search-performers li ol {
  display: inline-block;
  padding-top: 8px;
  margin-bottom: 0;
  min-height:180px;
}
ul.search-categories li ol{
  min-height:10px !important;
}

ul#search-performers li ol.big
{
  width: 800px;
}
*+html ul#search-studio li ol {
   padding-top: 15px;
}

*+html ul#search-performers li ol {
    padding-top: 0;
}



ul#search-studio li li, ul#search-performers li li {
  margin: 0 0 5px 0;
  min-height: 0 !important;
 padding: 0;
 line-height: normal;
}
ul#search-studio li .miso {
  font-size: 1.5em;
  color: #ffffff;
  padding: 0 4px;
  background: #8cb617;
  -moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
-moz-box-shadow:1px 1px 1px #707070;
-webkit-box-shadow:1px 1px 1px #707070;
box-shadow:1px 1px 1px #707070;

margin-left: 3px;
}
p#filter {
  font-size: 1.17em;
}
p#filter a.active {
  font-weight: bold;
}
ul#search-performers li li a.active {
  font-weight: bold;
}


ul#search-performers li .thumb {
  position: absolute;
  top: 25px;
  left: 0;
  

 
}
*+html ul#search-performers li .thumb  {
  top: 35px;
}


ul#search-performers li .top10 {
  position: absolute;
  left: 4px;
  bottom: 4px;

  padding: 1px 3px 1px 0;
  background: url(image_path('white-pixel.png'));
  display: block;
}
ul#search-performers li .top10 .miso {
   padding-left: 20px;
   background: url(image_path('star-icon.png')) 0 0 no-repeat;
    color: #f70485;
  font-size: 1.17em;
  line-height: 17px;
  display: block;
}
ul#search-performers li li a.star {
  padding-right:20px;
  background: url(image_path('star-icon.png')) 100% 0 no-repeat;
  line-height: 17px;
  display: inline-block;
}


/*   ---------   Float containers fix   ---------   */

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}
/* Hides from IE-mac \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.cadre
{
  border: 1px solid #666;
  width:162px;
  list-style: none;
  float:left;
  margin: 5px;
  min-height:269px;
}
.cadre p
{
  margin:5px 5px 5px 10px;
}
.cadre .title
{
  color: #666;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}
.cadre li 
{
  color: #666;
  margin:0 0 0 10px;
}
.cadre li a
{
  color: #666;
}
#actors #maincontent {
  float: right;
}
#actors .container
{
}
