/*
 *= require bootstrap.min
 *= require bootstrap-datepicker
 *= require jquery-ui.min
 *= require slick
 *= require jquery.tagit
 *= require ion.rangeSlider
 *= require ion.rangeSlider.skinSimple
 *= require iCheck
 *= require general
 *= require styles
 *= require bootstrap-chosen
 *= require fancybox
 *= require font-awesome
*/

.loader {
  border: 32px solid black;
  border-top: 32px solid #94C951;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container-ogone {
  display: table;
  vertical-align: middle;
}

.vertical-center-row-ogone {
  display: table-cell;
  vertical-align: middle;
}

#orange_purchase, #orange_purchase_register, #orange_purchase_ppv, #orange_purchase_subscriber {
  display: none;
}

.jw-skin-vapor .jw-icon-cast button {
  --disconnected-color: rgba(255, 255, 255, 0.6) !important;
}

.remvove_from_wishlist_form {
  display: inline-block;
}

#grid-view .grid-slide:nth-child(5n) {  margin-right: 0;}

#promo-code-error {
  color: #FF6501;
}

#sms_number-error, #sms_number_register-error {
  color: #FF6501;
}

