/*
 *= require bootstrap.min
 *= require bootstrap-chosen
 *= require bootstrap-datepicker
 *= require font-awesome
 *= require jquery-ui.min
 *= require slick
 *= require jquery.tagit
 *= require ion.rangeSlider
 *= require ion.rangeSlider.skinSimple
 *= require iCheck
 *= require general
 *= require styles
*/

.loader {
  border: 32px solid black; /* Light grey */
  border-top: 32px solid #94C951; /* Blue */
  border-radius: 50%;
  width: 240px;
  height: 240px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.container-ogone {
  display: table;
  vertical-align: middle;
}
.vertical-center-row-ogone {
  display: table-cell;
  vertical-align: middle;
}
