.etabs {
  margin: 0 !important;
  padding: 0;
  height: 39px;
}

.tab {
  float: left;
  background: #212A31;
  margin-right: 3px;
}

.tab a {
  display: block;
  line-height: 38px;
  padding: 0 20px;
  font-size: 24px;
  color: #afb7bf;
 
}
#critics-wrap .tab a {
padding: 0px;
}

.tab a:hover {
  text-decoration: none;
  color: #fff;
}

.tab a.active {
  background-color:#fff;
  border: 1px solid #212A31;
   color: #212A31;
  cursor: default;
}

#film-details .tab-container .panel-container {
  
  min-height: 202px;
  padding: 20px 20px 12px;
  position: relative;
  overflow: hidden;
  color: #1b2228;
}
#critics-wrap .panel-container {
      border: 1px solid #C4C4C0;
}

#film-details .tab-container {

}

#film-details .panel-container .thumb {
  display: block;
  float: left;
  margin-right: 12px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

#film-details .panel-container .vote {
  margin-bottom: 10px;
}

#film-details .panel-container .vote img {
  margin-right: 6px;
}

#film-details .panel-container a.more {
  font-weight: bold;
  color: #a3c41b;
}
#c-nina p
{
  font-size: 14px;
}