@import "compass/css3/images";

ul#output {
  height: 343px;
  left: 0;
  position: relative;
  width: 620px;
	margin:20px 0 0 0;
}

ul#output li {
  height: 343px;
  position: absolute;
  width: 707px;
}


ul#output li .caption {
  bottom: 13px;
  color: #FFFFFF;
  font-size: 15px;
  text-shadow: 0 1px 10px #242424;
  position: absolute;

  width: 400px;

  left: 660px;
  top: 269px;
}






ul#output li .caption h2 {
  color: #FFFFFF;
  float: none;
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
}

ul#output li .caption h4 {
  color: #FFFFFF;
  float: none;
  font-size: 16px;
  font-weight: normal;
}


ul#output li .intro h1 {
  color: #FFFFFF;
  font-family: 'Open Sans Condensed',sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
  margin-left: 20px;
  position: absolute;
  top: 26px;
}

#try_it {
    left: 10px;
    position: absolute;
    top: 189px;
}

ul#output li a.essaigratuit {
  background-color: #ee8419; 
  @include filter-gradient(#ee8419, #e26417, vertical);
  @include background-image(linear-gradient(top, #ee8419 0%,#e26417 100%));

  border: 1px solid #D55023;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  text-shadow: 0 -1px 0 #D83C14;
  bottom: 18px;
  color: white;
  display: block;
  font-size: 24px;
  font-weight: bold;
  height: 53px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  width: 243px;
}


ul#output #try_it #engagement {
  color: #FFFFFF;
  float: none ;
  font-size: 14px;
  margin: 8px 0 0;
  text-align: center;
}







#subscribe-wrap #try_it {
  color: #FFFFFF;
  float: right;
  font-size: 14px;
  padding-right: 20px;
  padding-top: 50px;
  text-align: center;
}
#image_promo .caption h2
{
	text-align:left;
}


/*   ============   for mobile   ============   */

@media screen and (max-width: 480px) { 
  
  
  ul#output {
      width: 380px !important;
  }

  ul#output img {
    display: none;
  }



  ul#output li {
    background: url(image_path('fr/video-a-la-demande-illimitee_mobile.jpg')) no-repeat scroll 0px 0px transparent !important;

      height: 343px;
         width: 280px !important;
  }
  
  #try_it {
      top: 222px;
  }
  
}