



ul#output {
    height: 343px;
    left: 0;
    position: relative;
    width: 620px;
}

ul#output li {
    height: 343px;
    position: absolute;
    width: 707px;
}


ul#output li .caption {
    bottom: 13px;
    color: #FFFFFF;
    font-size: 15px;
 text-shadow: 0 1px 10px #242424;
    position: absolute;

    width: 400px;
	
	left: 660px;
    top: 269px;
}






ul#output li .caption h2 {
    color: #FFFFFF;
    float: none;
    font-size: 26px;
    font-weight: bold;
    line-height: 1;
}

ul#output li .caption h4 {
    color: #FFFFFF;
    float: none;
    font-size: 16px;
    font-weight: normal;
}


ul#output li .intro h1 {
    color: #FFFFFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 33px;
    margin-left: 20px;
    position: absolute;
    top: 26px;
}

#try_it {
    left: 20px;
    position: absolute;
    top: 240px;
}

ul#output li a.essaigratuit {


     background: #ee8419; /* Old browsers */

	background: -moz-linear-gradient(top,  #ee8419 1%, #e26417 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ee8419), color-stop(100%,#e26417)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  #ee8419 1%,#e26417 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  #ee8419 1%,#e26417 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  #ee8419 1%,#e26417 100%); /* IE10+ */

	background: linear-gradient(to bottom,  #ee8419 1%,#e26417 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee8419', endColorstr='#e26417',GradientType=0 ); /* IE6-9 */

	;
    border: 1px solid #D55023;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
	text-shadow: 0 -1px 0 #D83C14;
    bottom: 18px;
    color: white;
    display: block;
    font-size: 24px;
    font-weight: bold;
    height: 53px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    width: 243px;
}


ul#output #try_it #engagement {
    color: #FFFFFF;
    float: none ;
    font-size: 14px;
    margin: 8px 0 0;
    text-align: center;
}




#subscribe-wrap a {


     background: #ee8419; /* Old browsers */

	background: -moz-linear-gradient(top,  #ee8419 1%, #e26417 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ee8419), color-stop(100%,#e26417)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  #ee8419 1%,#e26417 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  #ee8419 1%,#e26417 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  #ee8419 1%,#e26417 100%); /* IE10+ */

	background: linear-gradient(to bottom,  #ee8419 1%,#e26417 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee8419', endColorstr='#e26417',GradientType=0 ); /* IE6-9 */

	;
    border: 1px solid #D55023;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
	text-shadow: 0 -1px 0 #D83C14;
    bottom: 18px;
    color: white;
    display: block;
    font-size: 24px;
    font-weight: bold;
    height: 53px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    width: 243px;
}


#subscribe-wrap #try_it {
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    padding-right: 20px;
    padding-top: 50px;
    text-align: center;
}