// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/images";

/***************/
/*   abo page  */
/***************/
#prices{
  padding:14px;
  color: #767672;
  font-size:14px;

}

#prices .abo_prices{
  float:left;
  border: 1px solid #C4C4C0;
  width:440px;
  padding:10px 10px 20px 10px;
  margin-bottom:30px;
}
#prices .abo_prices.en, #prices .abo_prices.nl {
  height:165px;
}

#prices .abo_infos {
  border: 1px solid #C4C4C0;
  float: right;
  margin-bottom: 30px;
  min-height: 182px;
  padding: 10px;
  width: 440px;
}

#prices #alacarte .abo_infos {
  min-height: 150px;
}

#prices h2 span, #prices h3 span{
  color:#98D321;
  font-weight: bold;
}

#prices span.kid {
  color:#79BFEF;
  font-weight: bold;
}
#prices span.plush {
  color:#98D321;
  font-weight: bold;
}

#prices span.plushalacarte {
  color:#66CCCC;
  font-weight: bold;
}
#prices span.adult{
  color:#993399;
  font-weight: bold;
}
#prices h2{
  font-size:32px;
  padding-bottom: 8px;
}
#prices h3 {
  font-size: 23px;
  padding-bottom: 4px;
}

#prices .unite {
  font-size: 52px;
  font-weight: bold;
}
#prices .cents {
  font-size: 44px;
  line-height: 12px;
  font-weight: bold;
}

#prices .big_price a {
  color:#98D321;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  outline: medium none;
  text-decoration: none;
}
#prices .big_price.kid a {
  color:#79BFEF;
}
#prices .big_price{
  margin-top:-10px;
}
#prices .barre-gris {
  line-height: 32px;
  color: #3E3D40;
}


#prices .barre-gris .cents {
  font-size: 20px;
  font-weight: normal;

}

#prices .barre-gris .unite {
  font-size: 24px;
  font-weight: normal;
}
#prices .subscribe a.btn {
  background-color: #D55023; 
  @include filter-gradient(#EE8419, #E26417, vertical);
  @include background-image(linear-gradient(top, #EE8419 0%,#E26417 100%));
  border: 1px solid #D55023;
  border-radius: 4px 4px 4px 4px;
  bottom: 18px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: white;
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 43px;
  line-height: 47px;
  text-align: center;
  text-shadow: 0 -1px 0 #D83C14;
  text-transform: uppercase;
  width: 251px;
}

#prices .abo_infos li {
  background-image: url(image_path('bullets_ok.png'));
  background-position: 0 0;
  background-repeat: no-repeat;
  font-size: 17px;
  height: 26px;
  line-height: 27px;
  padding-left: 32px;
}
#prices #alacarte .abo_infos li {
    background-image: url("/assets/bullets_ok_alacarte.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    font-size: 17px;
    height: 26px;
    line-height: 27px;
    padding-left: 32px;
}


#prices .abo_infos p {
  padding-top:10px;
  padding-bottom:10px;
  font-size: 18px;
}
#prices .normal_price {
  color: #3E3D40;
  font-size: 22px;
  font-weight: normal;
}

#prices .tickets {
  background-image: url(image_path('tickets_prices.png'));
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #3E3D40;
  font-size: 18px;
  font-weight: normal;
  height: 66px;
  line-height: 22px;
  padding-left: 83px;
}

#prices #alacarte .tickets {
    background-image: url("/assets/alacarte_choices.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #3E3D40;
    font-size: 18px;
    font-weight: normal;
    height: 66px;
    line-height: 22px;
    padding-left: 83px;
    padding-top: 7px;
}

#prices .adult_dvd {
    background-image: url(image_path('dvd_prices.png'));
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #3E3D40;
    font-size: 18px;
    font-weight: normal;
    height: 66px;
    line-height: 22px;
    padding-left: 83px;
}
#prices .kids_dvd {
  background-image: url(image_path('tickets_prices.png'));
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #3E3D40;
  font-size: 18px;
  font-weight: normal;
  height: 85px;
  line-height: 22px;
  padding-left: 83px;
}

#prices .price_slogan {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;

}
#prices .link_adult {
  font-weight: bold;
  text-decoration:underline;
  font-size:16px;
  cursor:pointer;
  padding-bottom:20px;
}
#prices .link_adult:hover {
  text-decoration: none;
}

#prices #adult .abo_infos li {
  background-image: url(image_path('bullets_ok_adult.png'));

}

#prices #adult  .big_price a {
  color:#993399;

}

#prices .prices_bg span {
  font-family: 'Open Sans Condensed', sans-serif;

  color: #767672;
  float: left;
  font-size: 32px;


  text-align: center;
  width: 100%;
}
#prices .current .prices_bg span
{
  color: white;
}
#prices .prices_bg {

  float: left;
  height: 50px;
  text-align: center;
  width: 100%;
}

#prices .price_sec ul li {
  border-bottom: 1px solid #CECEBC;
  float: left;
  height: 41px;
  padding: 2px 0 8px;
  text-align: center;
  width: 100%;
}
#prices .current .price_sec ul li:last-child {
  border-bottom:none;
}
#prices .list_sec ul {
  float: left;
  list-style: none outside none;
  width: 100%;
}

#prices .price_sec ul li em {
  display: block;
  line-height: 20px;
  padding-top: 6px;
}
#prices .price_sec {
  float: left;
  padding: 0 6px;
  width: 124px;
}
#prices .list_sec {
  display: inline;
  float: left;
  margin: 113px 0 0;
  width: 160px;
}
#prices .list_sec ul li {
  border-bottom: 1px solid #ABAB99;
  float: left;
  height: 33px;
  padding: 9px 0;
  width: 100%;
}
#prices .head {
  border-bottom: 2px solid #CECEBC;
  display: block;
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 20px;
  height: 61px;
  text-align: center;
}
#prices .list_sec ul li a {
  color: #767672;
  float: left;
}


#prices .green-tick { background-image: url(image_path('green-tick.png'));
background-position: 46px 11px;
background-repeat: no-repeat;


}

#prices .red-tick { background-image: url(image_path('red-tick.png'));
background-position: 46px 11px;
background-repeat: no-repeat;


}
#prices .main_price_table, .basic_package, .head, .price_sign input.submit {
  border-radius: 3px 3px 3px 3px;
  position: relative;
}
#prices .main_price_table {
  display: inline;
  float: left;
  margin-top: 16px;
  position: relative;
  width: 100%;
}
#prices .main_pack_sec {
  float: left;
  width: 100%;
}



#prices .basic_package {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #9F9E98;
  border-radius: 4px 4px 4px 4px;
  display: inline;
  float: left;
  height: auto !important;
  margin-left: 10px;
  width: 144px;
}
#prices .basic_package.current {
  background: #666;
  color:#fff;
}

#prices .price_sign .btn {
  background-color: #D55023; 
  @include filter-gradient(#EE8419, #E26417, vertical);
  @include background-image(linear-gradient(top, #EE8419 0%,#E26417 100%));

  border: 1px solid #D55023;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: white;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  height: 34px;
  line-height: 15px;
  margin-bottom: 12px;
  margin-top: 12px;
  padding-top: 8px;
  text-align: center;
  text-shadow: 0 -1px 0 #D83C14;
  text-transform: uppercase;
  width: 130px;
}
#prices .price_sign button.btn {
  height:44px;
}
#abo_description
{
  margin: 20px 0 0 0;
}
.btn_align
{
  line-height:30px !important;
}
/****abo page */


/*****************/
/* conditions    */
/*****************/

#conditions_div {
background: url(image_path('content-bg-wishlist.gif')) repeat-y scroll 0 0 transparent;
float: none;
margin: 24px 0 24px 24px !important;
padding: 25px 10px 17px;
position: relative;
width: 902px;
}
#content_info
{
  width: 942px;
  margin: 0 auto;
}

/***************/
/*   vod page  */
/***************/

#content_info {
  color: #767672;
      font-size: 14px;


}

#content_info .section.one a {
  background: url(image_path('play.gif')) no-repeat scroll -5px 0 transparent;
      color: #98D321;
      font-size: 22px;
      font-weight: bold;
      padding-left: 27px;
  
}
#content_info a {
  text-decoration:underline;
 
  
}


#content_info .section.one {
    background-image: url(image_path('mac_pc_vod.jpg'));
    background-position: 673px -8px;
    background-repeat: no-repeat;
    min-height: 160px;
}

#content_info .section.six {
    background-image: url(image_path('playstation_vod.jpg'));
    background-position: 667px 19px;
    background-repeat: no-repeat;
    min-height: 140px;
}
#content_info .section.five {
    background-image: url(image_path('tv_vod.jpg'));
    background-position: 683px 15px;
    background-repeat: no-repeat;
    min-height: 160px;
}
#content_info .section.two {
    background-image: url(image_path('smarttv_vod.jpg'));
    background-position: 697px 10px;
    background-repeat: no-repeat;
     min-height: 145px;
}
#content_info .section.three #apple {
    background-image: url(image_path('apple_vod.jpg'));
    background-position: 706px 7px;
    background-repeat: no-repeat;
    min-height: 160px;
        padding-bottom: 30px;
  
}        

#content_info .section.three #apple .device_infos{
      
                padding-top:55px;
        }

#content_info .section.three #android {
    background-image: url(image_path('android_vod.jpg'));
    background-position: 705px 22px;
    background-repeat: no-repeat;
    border-top: 1px solid #ABAB99;
    min-height: 160px;
    padding-top: 30px;
}




#content_info .section {
  margin-top:20px;
    padding:14px;
     border: 1px solid #ABAB99;
 
}

#content_info .device_title {
  
  float:left;
  
}
#content_info .device_infos {
    float: right;
    padding-right: 300px;
    width: 400px;
}

#content_info h3 {
  font-size: 22px;
  padding-bottom:10px;

  
}

#content_info p {
  padding-bottom:10px;

  
}
#vod h1
{
  font-size: 32px;
}

/*****************/
/* TV connect  */
/*****************/

#top_box {
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: url(image_path('tvconnect/bg_connection.jpg'));
        background-position: -8px 106px;
    background-repeat: no-repeat no-repeat;
   height: 538px;
    line-height: 140%;
}

#middle_box .options_box h2 {
    font-size: 19px;
    height: 50px;
    line-height: 21px;
        padding: 8px 15px 19px 44px;
    text-align: left;
}

#middle_box .options_box .step1 h2 {
    background: url(image_path('promotions/1.gif')) no-repeat scroll 4px 5px transparent;
}
#middle_box .options_box .step2 h2 {
    background: url(image_path('promotions/2.gif')) no-repeat scroll 4px 5px transparent;
}
#middle_box .options_box .step3 h2 {
    background: url(image_path('promotions/3.gif')) no-repeat scroll 4px 5px transparent;
}

#middle_box ul.list_options li input, .guide_hidden {
    display: none;
}
#middle_box .options_box {
    background-color: #FFFFFF;
    display: block;
    float: left;
    margin-right: 16px;
    width: 298px;
}
#middle_box .options_top {
    height: 240px;
    text-align: center;
    font-size:12px;
}

#left_box, #right_box {
    float: right;
    width: 481px;
}
#right_box {
  padding-top:20px;
}
#left_box h3 {
    background: url(image_path('promotions/square.gif')) no-repeat scroll 0 16px transparent;
    font-size: 24px;
    padding-left: 22px;
    padding-top: 12px;
    
}

#top_box a {color:#98D321;
  font-weight:bold;}
#top_box h1 {
  font-size:32px;
  line-height:95%;
}



#top_box p#intro_copy {
    padding-top: 15px;
    padding-bottom:24px;
 color: #212A31;
}

#guide_smallprint {
    background-color: #FFFFFF;
    border: 1px solid #ADADAD;
    line-height: 140%;
    margin-bottom: 18px;
    padding-top: 15px;
     padding-bottom: 15px;
    text-align: center;
    width: 942px;
}



#middle_box {
color:#212A31;
}

#middle_box ul.list_options li .guide_checkbox {
  margin:28px 10px 28px 0;
}


.guide_checkbox {
  background-color:#FFFFFF;
  border:1px solid #ABAB99;
  float:left;
  height:13px;
  overflow:hidden;
  width:13px;
}

.guide_selected, .guide_chosen {
  background-color:#98D321!important;
}


.vga_fr {
    background: url(image_path('tvconnect/fr/vga.gif')) no-repeat scroll 0 0 #FFFFFF;
}
.vga_en {
    background: url(image_path('tvconnect/en/vga.gif')) no-repeat scroll 0 0 #FFFFFF;
}
.vga_nl {
    background: url(image_path('tvconnect/nl/vga.gif')) no-repeat scroll 0 0 #FFFFFF;
}
.hdmi {
    background: url(image_path('tvconnect/hdmi.gif')) no-repeat scroll 0 0 #FFFFFF;
}
.dvi {
    background: url(image_path('tvconnect/dvi.gif'))  no-repeat scroll 0 0 #FFFFFF;
}
.svideo {
    background: url(image_path('tvconnect/svideo.gif')) no-repeat scroll 0 0 #FFFFFF;
}
.scart {
    background: url(image_path('tvconnect/scart.gif')) no-repeat scroll 0 0 #FFFFFF;
}
.component {
    background: url(image_path('tvconnect/component.gif')) no-repeat scroll 0 0 #FFFFFF;
}

#content_info #audio_suggestion h3, #content_info #video_suggestion h3{
    font-size: 20px!important;
    padding-bottom: 0px!important;
}

#middle_box ul.list_options li {
  cursor:pointer;
  display:block;
  height:72px;
  line-height:70px;
  list-style-type:none;
  margin-bottom:5px;
  margin-left:7px;
  padding-left:137px;
}

#middle_box ul.list_options li {
  cursor:pointer;
  display:block;
  height:72px;
  line-height:70px;
  list-style-type:none;
  margin-bottom:5px;
  margin-left:7px;
  padding-left:137px;
}

.guide_checkbox {
  background-color:#FFFFFF;
  border:1px solid #4C4545;
  float:left;
  height:13px;
  overflow:hidden;
  width:13px;
}

.guide_result {
  background-attachment:scroll;
  background-color:#FFFFFF;
  background-position:0 0;
  background-repeat:initial initial;
  display:block;
  height: 66px;
  width:200px;
}
p.cable_name {
  text-align:left;
}
.result_card {
  font-size:12px;
  font-weight:bold;
  text-align:center;
}

#vod-wrap h2 {
  float:left;
  font-size:2em;
  margin-bottom:5px;
}
#middle_box .options_top h3 {
  padding-top:8px;
  text-align:left;
}

#middle_box #video_output, #middle_box #audio_output {
  float:left;
  margin:0px 0 0 13px;
}
#middle_box #video_input, #middle_box #audio_input {
  float:right;
  margin:0px -58px 0 0;
}


#middle_box .guide_buy {
  background-color:#9ECA3B;
    background-repeat:repeat no-repeat;
    border:1px solid #7EA613;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    box-shadow:rgba(255, 255, 255, 0.796875) 0 1px 1px inset;
    color:#FFFFFF;
    font-size:20px;
    height:28px;
    padding:5px;
    text-shadow:#72942A 0 -1px 0;
    width:120px;
  
}


#middle_box .options_top h3 {
    padding-top: 8px;
    text-align: left;
}
#middle_box a {
    text-decoration: none;
}

#middle_box p {
    padding-bottom: 0px;
}

#middle_box .options_top h3, #middle_box .options_top p, #middle_box .options_top img, #middle_box .suggestion h3, #middle_box p.cable_name {
    margin-bottom: 10px;
}
.li_selected, .li_chosen {

    background-position: 0 -72px;
}

#audio_suggestion, #video_suggestion {
    border: 1px solid #ADADAD;
    margin-bottom: 10px;
    padding: 11px;
}

/***************/
/*  view right */
/***************/

.verimatrix {
    background-color: #E5E5E5;
    background-image: url(image_path('computer_verimatrix.png'));
    background-position: 8px 8px;
    background-repeat: no-repeat;
    color: #212A31;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-top: 10px;
    padding: 10px 10px 10px 104px;
    width: 330px;
}

#btns-wrap .verimatrix a{
background-image:none!important;
color:#212A31;
text-decoration:underline;
display: inline;
}
#verimatrix-wrap
{
  margin: 0 39px;
}
#verimatrix-wrap, #verimatrix-wrap h2
{
  font-family: Arial,Helvetica,sans-serif;
}
#verimatrix-wrap p
{
  margin:12px 0;
}
#verimatrix_area .verimatrix {
    background-color: #E5E5E5;
    background-image: url(image_path('computer_verimatrix.png'));
    background-position: 8px 8px;
    background-repeat: no-repeat;
    color: #212A31;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0 auto 10px;
    padding: 10px 10px 10px 104px;
	text-align:left;
    width: 400px;
	border:#FFFFFF solid 2px;
}



#verimatrix-wrap a {
    background-color: #98D321;
    float: left;
    font-size: 14px;
    margin: 4px;
    padding: 6px 6px 6px 30px;
}

#verimatrix-wrap .mac a{

background-image: url(image_path('apple_verimatrix.png'));
  background-position: 5px 3px;
    background-repeat: no-repeat;
}


#verimatrix-wrap .win a{

background-image: url(image_path('win_verimatrix.png'));
  background-position: 5px 3px;
    background-repeat: no-repeat;
}
.add_credit_card
{
  background-color: #ee8419;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEE8419', endColorstr='#FFE26417');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee8419), color-stop(100%, #e26417));
  background-image: -webkit-linear-gradient(top, #ee8419 0%, #e26417 100%);
  background-image: -moz-linear-gradient(top, #ee8419 0%, #e26417 100%);
  background-image: -o-linear-gradient(top, #ee8419 0%, #e26417 100%);
  background-image: linear-gradient(top, #ee8419 0%, #e26417 100%);
  border: 1px solid #D55023;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  text-shadow: 0 -1px 0 #D83C14;
  bottom: 18px;
  color: white;
  display: block;
  font-size: 24px;
  font-weight: bold;
  height: 53px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  width: 243px;
}
