@charset "UTF-8";
/* CSS Document */
a {
	color: #AC5347;
	text-decoration: none;
}
html, body {
	background: url(image_path('devise/bg.jpg')) repeat scroll 0 0 #202C37;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
#lang {
	display: block;
	height: 24px;
	margin: 0 auto;
	padding-top: 16px;
	text-align: right;
	width: 350px;
	font-size:12px;
}
#lang a {
	color: #80868B;
}
#lang li {
	display: inline;
	margin: 0 12px 0 4px;
}
#lang a.active {
	color: #D9E3EB;
}
#wrap_login {
	margin: 0 auto;
	width: 380px;
}
#login_content_bg {
	background: none repeat scroll 0 0 #212A31;
	box-shadow: 0 0 45px #000000;
	color: #393939;
	font-size: 16px;
	font-weight: lighter;
	height: 100%;
	width: 380px;
	padding-bottom: 20px;
}
.signup_forms {
	background-color: #fff;
	margin-top: 10px;
	padding-top:10px;
	padding-bottom:10px;
	width: 380px;
	color:#29323b;
}
#login_content_bg {
    background: none repeat scroll 0 0 #212A31;
    box-shadow: 0 0 45px #000000;
    color: #393939;
    font-size: 16px;
    font-weight: lighter;
    height: 100%;
    padding-bottom: 6px;
    width: 380px;
}
#login_content {

	width: 380px;
}
.signup_forms p {
	border: 0 none;
	padding: 10px 0px 0px 0px;
	margin: 0;

	width: 100%;
}


.signup_forms  input {
    border: 1px solid #A6AAAD;
    font-size: 11px;
    height: 16px;

  
}


#login_content h1 {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("/assets/logo.png");
    background-position: 107px 0;
    background-repeat: no-repeat;
    display: block;
    height: 86px;
    text-align: center;
}
.like-btn {
	display: inline-block;
	outline: medium none;
	text-indent: -999em;
}
#title {
	color: #ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	margin-top: -25px;
	text-align: center;
}
.check_login {
  color:#FFFFFF;
  font-size:13px;
  padding-left:20px;
  text-align:left;
}

.check_login a {
  color:#FFFFFF;
  font-size:13px;
  line-height:22px;
  text-align:center;
  text-decoration:underline;
}
.link_forget {
	color: #A3C41B;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
#submit_button {
	
	  background-color:#9ECA3B;
	  background-repeat:repeat no-repeat;
	  border:1px solid #7EA613;
	  border-bottom-left-radius:4px;
	  border-bottom-right-radius:4px;
	  border-top-left-radius:4px;
	  border-top-right-radius:4px;
	  box-shadow:rgba(255, 255, 255, 0.796875) 0 1px 1px inset;
	  color:#FFFFFF;
	  font-size:18px;
	  padding:5px;
	  text-shadow:#72942A 0 -1px 0;
	  width:229px;
	height:40px;
	}




.wrong {
    color: #FF4B00;
    font-size: 12px;
    margin-top: -10px;
}


