// Place all the styles related to the lucky_cycle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#lucky_title
{
  font-size:25px;
  margin:20px;
}
#lucky .container
{
  padding:0 20px 20px 20px;
}