/*
    POPUP NEW!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

.button-area {
  width: 100%;
  padding: 10px 0px 1px 0px;
}

.button-popup {
  display: inline-block;
  width: 145px;
  height: 32px;
  margin-right: 10px;
  float: left;
}

.button-popup.button-gray {
  margin-right: 0;
  width: 153px;
  line-height: 32px;
  background-color: #9e9e98;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.4px;
}

.button-popup .button-watch,
.button-popup .button-watch-list,
.button-popup .button-trailer {
  background-image: url("img/watch.gif");
  background-repeat: no-repeat;
  color: #fff;
  height: 32px;
  line-height: 32px;
  padding-left: 30px;
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
}

.button-popup .button-watch-list {
  background-image: url("img/watch-list.gif");
}

.film-price {
  width: 100%;
  margin: 5px 5px 15px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #6acccb;
  float: left;
  text-align: left;
}

.button-popup .button-trailer {
  background-image: url(popup/button-trailer.png);
  color: #000;
  padding-left: 35px;
}

.clear-float:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.tooltips .tooltips_rating {
  border: 0 !important;
  text-align: center;
  margin: 0;
}

.tooltips_title.currency {
  padding: 0;
  font-size: 20px;
  font-weight: bold;
}

.tooltips_title.sub-title {
  font-size: 15px;
}

.play-button {
  width: 165px;
  height: 35px;
  margin: 0 auto 15px;
  background: linear-gradient(to top, rgba(129, 176, 45, 1) 0%, rgba(177, 227, 88, 1) 100%);
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.play-button label {
  display: inline-block;
  margin: 3px 20px 7px 0;
  vertical-align: top;
  font-weight: bold;
}

.play-img {
  width: 25px;
  height: 25px;
  margin: 5px 10px 5px 15px;
  display: inline-block;
  background-image: url(popup/play-button.png);
}

.tooltips .tooltips_description {
  color: #4a5862;
}

.footer-green {
  height: 80px;
  border-top: 1px solid #b5b5b5;
  display: block;
  background-color: #a3dd5a;
}

.footer-green label,
.footer-green label u {
  font-size: 17px;
  font-weight: bold;
  display: block;
  margin-top: 20px;
  color: #000;
}

.footer-green label {
  font-weight: normal;
  margin-top: 0;
}

.main-part {
  padding: 9px;
}

.tooltips {
  width: 326px;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

.tooltips_title.head-title {
  letter-spacing: -0.4px;
  padding-bottom: 0;
}