/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 //= require reset
 */
 @import "compass/css3/images";
 
 .osc, h1, h2, h3, h4, h5 {
 	font-family: 'Open Sans Condensed', sans-serif;
 }

.choice_language .button_languages {
  background-color: #D55023; 
  @include filter-gradient(#EE8419, #E26417, vertical);
  @include background-image(linear-gradient(top, #EE8419 0%,#E26417 100%));

  border: 1px solid #D55023;
  border-radius: 4px 4px 4px 4px;
  bottom: 18px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: white;
  display:inline-block;
  font-size:25px;
  height:29px;
  line-height:20px;
  margin-left:65px;
  margin-top:120px;
  padding:7px 0 0;
  text-align:center;
  text-shadow:#D83C14 0 -1px 0;
  width:179px;

}

.choice_language  a {
  text-decoration: none;
}

.choice_language .left {
  float: left;
}

.choice_language .right {
  padding-right: 55px;
  float: right;
}



#header {
  background: none repeat scroll 0 0 #FFFFFF;
  height: 83px;
  position: relative;
  width: 100%;
}
/*****samsung */
#samsung_choose .choice_language {
  background-image: url(image_path('promotions/bg_l_samsung.jpg'));
  background-position: 0px 0px;
  background-repeat: no-repeat;
  height: 537px;
}
#samsung_choose #header h2 a, #samsung #header h2 a {
  background: url(image_path('promotions/logo_samsung.jpg')) repeat scroll 0 0 transparent;
  height: 39px;
  width: 224px;
}

#samsung_choose #header h1 a, #samsung #header h1 a {
  background: url(image_path('promotions/logo_plush.png')) repeat scroll 0 -12px transparent;
  height: 64px;
  width: 152px;
}
#samsung #promo_content {
  background: url(image_path('promotions/bg_samsung.jpg')) repeat scroll 0 0 transparent;
  height: 596px;
  margin: 0 auto;
  width: 970px;
}

/***********/

/*****Mobistar */
.canvas3 #promo_content h1 {
    color: #003C6A;
    font-size: 44px;
    line-height: 49px;
    padding-left: 60px;
    padding-top: 119px;
    text-align: left;
}
.canvas3 #promo_content h1 span {
    color: #003C6A;
    font-size: 53px;
}

.canvas3 #promo_content #promo_form {
    color: #444444;
    font-family: 'Open Sans Condensed',sans-serif;
    line-height: 18px;
    padding-left: 43px;
    padding-top: 32px;
    text-align: left;
    width: 430px;
    font-size:16px;
}

.canvas3 #promo_content #promo_form .promo_button, .canvas3 #area_promo .promo_button {
    font-size: 26px;
    margin: 6px 0 24px 43px;
    padding: 5px;
    width: 200px;
}

.canvas3 #promo_content .step1 {
    font-size: 23px;
    height: 30px;
    line-height: 26px;
    padding-bottom: 51px;
    padding-left: 18px;
      padding-right: 18px;
    width: 400px;
}

.canvas3 #promo_form div.news, .canvas3 #promo_form p.news {
    font-size: 14px;
    margin: 0 0 8px 39px;
}
.canvas3 #promo_form .email {
    float: left;
    font-size: 18px;
    padding-left: 45px;
}

.canvas3 #promo_form .inputs_promo_code {
    width: 300px;
}
.canvas3 #promo_footer {
    padding-bottom: 0px;
}
.canvas3 #promo_form .promocode {
    float: left;
    font-size: 18px;
    padding-left: 45px;
}

.canvas3 .telfooter a{
    height: 75px;
    margin: 0 auto;
    width: 410px;
}
.canvas3 .telfooter a.fr{
background: url(image_path('fr/info_tel.jpg')) no-repeat scroll 0 0 transparent
}
.canvas3 .telfooter a.nl{
background: url(image_path('nl/info_tel.jpg')) no-repeat scroll 0 0 transparent
}
.canvas3 .telfooter a.en{
background: url(image_path('en/info_tel.jpg')) no-repeat scroll 0 0 transparent
}

/* for mobile */

@media screen and (max-width: 480px) {

.canvas3 #wrap {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 45px #000000;
    margin: 0 auto 100px;
    text-align: left;
   width: 320px;
}
.canvas3 #promo_content {
   background: none!important;
    background-color:#94cc2b;
    min-height: 360px !important;
       
     margin: 0 auto;
    width: 320px!important;
    margin-bottom:12px;
}
.canvas3 #promo_content h1 {
    color: #003C6A;
    font-size: 28px;
    line-height: 35px;
    padding-left: 29px !important;
    padding-top: 30px;
    text-align: left;
}

.canvas3 #promo_content h1 span {
    color: #003C6A;
    font-size: 42px!important;
}

.canvas3 #header h1 {
    float: left;
    height: 39px;
    margin: 15px 0 0 7px;
}
.canvas3 #header h2, .canvas2 #header h2 a {
    background: url("http://www.dvdpost.be/images/promotions_plush/logo_mobistar.jpg") repeat scroll 0 0 transparent;
    height: 60px;
 width: 142px !important;
}

.canvas3#default #header h1 a {
    width: 142px!important;
     background: url("/assets/promotions/logo_plush.png") repeat scroll -12px -12px transparent;
}
.canvas3 #header {
    height: 84px;
}
.canvas3 #promo_content #promo_form {
    background-color: #FFFFFF;
    color: #212A31;
    font-size: 14px;
    line-height: 18px;
    min-height: 360px !important;
    padding-left: 9px;
    padding-right: 10px;
    text-align: left;
    width: 293px;
     margin: 0 auto;
}
.canvas3 #promo_form p.news {
    font-size: 14px;
    margin: 0 0 8px 14px;
}

.canvas3 #promo_content h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin: 14px 0 20px;
    padding-top: 15px;
    text-align: center;
}

.canvas3 #promo_content .step1, .canvas3 #promo_content .step2, .canvas3 #promo_content .step3, .canvas3 #promo_content .step4 {
    width: 260px;
}

.canvas3 #promo_content #promo_form .promo_button, .canvas3 #area_promo .promo_button {
      margin: 6px 0 24px 18px;
    font-size: 20px;
    padding: 5px;
  
}
.canvas3 #promo_form .inputs_promo_code {
    width: 200px;
}
.canvas3 #promo_form .email, .canvas3 #promo_form .promocode {
  float:none;  
  padding-left:19px; 
  font-size: 16px;
  
}
.canvas3 .telfooter {
  height:100%;
    width: 320px;
  
  
}


.canvas3 .telfooter a {
    background: url("/assets/fr/info_tel_mobile.jpg") no-repeat scroll 0 0 transparent!important;
    height: 139px!important;
    margin: 0 auto;
    width: 245px!important;
}
}

/****canvas4********/


@import "http://fonts.googleapis.com/css?family=Cookie";
@import "http://fonts.googleapis.com/css?family=Snippet";

.canvas4 table {
    border-collapse: collapse;
    border-spacing: 0;
}

.canvas4 #vp_products {
background: #ebe9f1; /* Old browsers */
background: -moz-linear-gradient(top,  #ebe9f1 0%, #bcbcd9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebe9f1), color-stop(100%,#bcbcd9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ebe9f1 0%,#bcbcd9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ebe9f1 0%,#bcbcd9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ebe9f1 0%,#bcbcd9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ebe9f1 0%,#bcbcd9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f1', endColorstr='#bcbcd9',GradientType=0 ); /* IE6-9 */
padding: 0 17px 50px;
width: 926px;
}

.canvas4 .table {
    display: table;
}
.canvas4 .table .row {
    display: table-row;
}
.canvas4 .table .row > .cell {
    display: table-cell;
    vertical-align: middle;
}
.canvas4 body {
    font-family:Arial, Helvetica, sans-serif;
   
}
#vp_header, #vp_top_header, #vp_social, #vp_menu, #vp_products, #vp_footer, .vp-footer-sc {
    margin: 0 auto;
    width: 924px;
}

.canvas4 #vp_top_header {
    height: 50px;
    margin-bottom: 35px;
}


.canvas4b.pbx_corner_top, b.pbx_corner_bottom, b.pbx_bubble_corner_bg, span.pbx_shadow_tr, span.pbx_shadow_right, span.pbx_shadow_br, span.pbx_shadow_bottom, span.pbx_shadow_bl {
    display: none;
}

.canvas4 div#pbx_popup_cart_header {
    background: none repeat scroll 0 0 #516976;
}
.canvas4 div#pbx_popup_cart_content {
    border: medium none;
    border-radius: 0 0 5px 5px;
    font-size: 12px;
}
.canvas4 div#pbx_popup_cart_content a.pbx_action_checkout {
    float: right;
}
.canvas4 div#pbx_bubble div.pbx_shadow {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}
.canvas4 div#pbx_bubble_header {
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #7B7577;
}

.canvas4 div#pbx_popup_cart_content a.pbx_button_action span {
    font-size: 11px;
}
.canvas4 .bg_top_header {
    background: none repeat scroll 0 0 #0F2D40;
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;
}

.canvas4 #vp_header {
    background: url(image_path('promotions/bg_header_canvas4.jpg')) no-repeat scroll left center transparent !important;
    height: 390px;
    position: relative;
    width: 960px;
}
.canvas4 .blockLeft {
    float: left;
     width: 380px;
}
.canvas4 #vp_header h1 {
    color: #2A3F91;
    font-family: 'Cookie',cursive;
    font-size: 70px;
    font-weight: normal;
    margin-top: 226px;
    padding-left: 26px;
    text-align: left;
    width: 100%;
}
.canvas4 #vp_header h1 > * {
    vertical-align: top;
}
.canvas4 #vp_header h1 strong {
    font-family: 'Snippet',sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    text-transform: uppercase;
}
.canvas4 #vp_header h1 span {
    color: #D85651;
    font-size: 2em;
    left: -5%;
    position: relative;
    top: 50px;
}
.canvas4 .header_discount {
    background: url(image_path('promotions/pastille_silver.png')) no-repeat scroll 0 6px transparent;
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    height: 250px;
    line-height: 179px;
    margin-left: 5px;
    margin-top: -46px;
    padding-top: 54px;
    position: relative;
    text-align: center;
    width: 250px;
}
.canvas4 .header_discount span {
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
}
.canvas4 .header_discount.show span {
    display: block;
}
.canvas4 .header_discount span:first-child {
    top: 0;
}
.canvas4 .header_discount span.rab {
    bottom: 0;
}
.canvas4 .maxDiscount {
    font-style: normal;
}
.canvas4 .header_discount strong {
    color: #FFFFFF;
    display: none;
    font-family: 'Cookie',cursive;
    font-size: 100px;
    font-weight: normal;
    letter-spacing: -4px;
    line-height: 186px;
}
.canvas4 .header_discount.show strong {
    display: inline;
}
.canvas4 .header_discount sup {
    bottom: 38px;
    display: none;
    font-size: 62px;
    position: relative;
}
.canvas4 .header_discount.show sup {
    display: inline;
}
.canvas4 #vp_countdown {
    background: url(image_path('promotions/t.png'));
    background: rgba(255, 255, 255, 0.7);
    float: left;
    height: 126px;
    margin-left: 25px;
    padding: 30px 50px 20px;
    width: 182px;
}
.canvas4 #vp_countdown > div {
    width: 182px;
}
.canvas4 #vp_countdown div p {
    border-bottom: 2px solid #2a3f91;
    color: #2a3f91;
    font-size: 14px;
    margin: 0;
    padding: 6px 0;
    text-align: center;
}
.canvas4 #vp_countdown div p:first-child {
    background: none repeat scroll 0 0 transparent;
    border-bottom: medium none;
    color: #2a3f91;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 0;
    text-transform: uppercase;
}
.canvas4 #vp_countdown #countbox {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.canvas4 #vp_countdown #countbox div {
    background: none repeat scroll 0 0 #D85651;
    border-radius: 50% 50% 50% 50%;
    color: #FFFFFF;
    float: left;
    font-family: 'Cookie',cursive;
    font-size: 25px;
    height: 34px;
    letter-spacing: 1px;
    line-height: 36px;
    margin: 0 5px;
    text-align: center;
    width: 34px;
}
.canvas4 #vp_countdown #countbox p {
    border-bottom: medium none;
    padding: 10px 0 0;
}
.canvas4 #vp_countdown #countInfos p {
}
.canvas4 #vp_countdown div.table {
    width: 100%;
}
.canvas4 #vp_countdown #countbox p span {
    color: #D85651;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    margin: 0 7px;
    text-align: center;
    width: 30px;
}
.canvas4 #vp_countdown #countbox p span:first-child {
    margin: 0 7px 0 0;
}
.canvas4 #countInfos {
    color: #2a3f91;
    margin: auto;
    max-width: 182px;
    text-align: center;
    width: 100%;
}
.canvas4 #countInfos tr:first-child {
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
}
.canvas4 #countInfos tr td, #vp_countdown #countbox div.cell {
    vertical-align: middle;
    width: 19%;
}
.canvas4 #countInfos tr:first-child td {
    padding: 8px 0;
}
.canvas4 #vp_countdown #countbox td span, #vp_countdown #countbox div.cell {
    background: none repeat scroll 0 0 #D85651;
    border-radius: 50% 50% 50% 50%;
    color: #FFFFFF;
    display: block;
    font-family: 'Cookie',cursive;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 36px;
    margin: auto;
    text-align: center;
    width: 36px;
}




.canvas4 #vp_main_wrapper {
    background: none repeat scroll 0 0 #C7D6E0;
    margin: 0;
    padding: 0 0 40px;
}
.canvas4 #vp_products .grid8 {
    margin: 7px 0 20px 25px;
    width: 287px;
}
.canvas4 #vp_products .grid8.first_item {
    margin: 7px 0 20px 0;
}

.canvas4 #vp_products .column {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #9A6146;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.54);
    float: left;
    height: 390px;
    overflow: visible;
    padding: 0;
    position: relative;
}



.canvas4 #vp_products .column.gold {
    border: 2px solid #c09246;
}


.canvas4 #vp_products .column.silver {
    border: 2px solid #A2A6B4;
}





.canvas4 #vp_products .column p, #vp_products .btn_credits {
    font-weight: 300;
    margin: 0;
    position: absolute;
}
.canvas4 #vp_products .column h2 {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #9A6146;
    font-size: 30px;
    left: 0;
    margin-top: 4px;
    text-align: center;
    width: 100%;
    z-index: 10;
}
.canvas4 #vp_products .column.gold h2 {
   
    color: #c09246;}
    
	
.canvas4 #vp_products .column.silver h2 {
   
    color: #a2a6b4;}
    


.canvas4 #vp_products .column h3 {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #9A6146;
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 4;
}

.canvas4 #vp_products .column.gold h3 {
   
    color: #c09246;}
	
.canvas4 #vp_products .column.silver h3 {
   
    color: #a2a6b4;}
    



.canvas4 #vp_products .column p, .canvas4 #vp_products .column p.classic_discount {
    background: none repeat scroll 0 0 #9A6146;
    color: #FFFFFF;
    font-family: 'Cookie',cursive;
    font-size: 55px;
    height: 56px;
    padding: 2px;
    right: -16px;
    text-align: center;
    top: 100px;
    width: 112px;
    z-index: 10;
}

.canvas4 #vp_products .column.gold p, .canvas4 #vp_products .column.gold p.classic_discount {
    background:#c09246;
}
.canvas4 #vp_products .column.silver p, .canvas4 #vp_products .column.silver p.classic_discount {
    background: none repeat scroll 0 0 #a2a6b4;
}


.canvas4 #vp_products .column.silver .btn_credits, .canvas4 #vp_products .btn_discover {
background: #a4a7b2; /* Old browsers */
background: -moz-linear-gradient(top,  #a4a7b2 0%, #8d95b2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4a7b2), color-stop(100%,#8d95b2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a4a7b2 0%,#8d95b2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a4a7b2 0%,#8d95b2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a4a7b2 0%,#8d95b2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a4a7b2 0%,#8d95b2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4a7b2', endColorstr='#8d95b2',GradientType=0 ); /* IE6-9 */
text-shadow: 0 -1px 0 #7985AF;
border: 1px solid #7985AF;
}

.canvas4 .canvas4 #vp_products .column p span {
    display: block;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 7px 0 0;
    width: 105px;
}
.canvas4 #vp_products .column p span, #vp_products .column p i {
    display: none;
}
.canvas4 #vp_products .column p.show span {
    display: block;
}
.canvas4 #vp_products .column p.show i {
    display: inline;
}
.canvas4 #vp_products .column p sup {
    display: inline-block;
    font-size: 0.6em;
    line-height: normal;
    margin: 0;
    padding: 0;
    position: relative;
    top: -0.5em;
}


.canvas4 #vp_products .btn_credits, #vp_products .btn_discover {
background-color: #863a32;
background: #997361; /* Old browsers */
background: -moz-linear-gradient(top,  #997361 0%, #995535 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#997361), color-stop(100%,#995535)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #997361 0%,#995535 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #997361 0%,#995535 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #997361 0%,#995535 100%); /* IE10+ */
background: linear-gradient(to bottom,  #997361 0%,#995535 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#997361', endColorstr='#995535',GradientType=0 ); /* IE6-9 */
 background-repeat: repeat-x;
    border: 1px solid #994620;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px;
    text-shadow: 0 -1px 0 #994620;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    padding: 5px 35px;
    position: relative;
    text-align: center;
    text-decoration: none;
}


.canvas4 #vp_products .column.gold .btn_credits, #vp_products .btn_discover {
background: #bf995b; /* Old browsers */
background: -moz-linear-gradient(top,  #bf995b 0%, #ba6c00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf995b), color-stop(100%,#ba6c00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bf995b 0%,#ba6c00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bf995b 0%,#ba6c00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bf995b 0%,#ba6c00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bf995b 0%,#ba6c00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf995b', endColorstr='#ba6c00',GradientType=0 ); /* IE6-9 */
text-shadow: 0 -1px 0 #B76800;
border: 1px solid #B76800; 
}

.canvas4 #vp_products .column p + p, #vp_products .column.gold p + p, #vp_products .column.silver p + p  {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    height: 45px;
    padding: 0;
    right: 0;
    text-align: center;
    top: 244px;
    width: 281px;
    z-index: 10;
}


.canvas4 #vp_products .infos {
    color: #212A31;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 17px;
    padding: 15px 10px 24px;
	text-align:center;
}


.canvas4 #vp_products .infos span{
font-size:28px;
text-align:center;
color:#212A31;
font-family: 'Open Sans Condensed',sans-serif;
}

.canvas4 #vp_products .table, #vp_products .table .row, #vp_products .table .row .cell {
width: 100%;
}

.canvas4 #vp_products .table .row {
    display: table-row;
}
.canvas4 #vp_products .table .row > .cell {
    display: table-cell;
    vertical-align: middle;
}
.canvas4 #vp_products a {
    text-decoration: none;
}


.canvas4 .faq {
    background: none repeat scroll 0 0 #BCBCD9;
    padding: 0 22px 22px;
    color: #4A5863;
    font-size:12px;
}
.canvas4 .faq a{
color: #212A31;
}
.canvas4 .faq h1{
padding-bottom:10px;
font-size:24px;
color: #212A31;
}

.canvas4 .faq h2{
padding-bottom:10px;
padding-top:10px;
font-size:20px;
color: #212A31;

}

.canvas4 .conditions {
    margin: 20px auto ;
    text-align: left;
    color:#4A5863;
}

.canvas4 .conditions h1 {
	padding-bottom:10px;
	font-size:20px;
	color:#4A5863;
}
.canvas4 .conditions p
{
  padding-bottom:10px;
  color:#4A5863;
  font-size:12px;
}
#daysBox,#hoursBox,#minsBox,#secsBox {
  font-size:20px;
}
.canvas4 #header
{
  background: none repeat scroll 0 0 #212A31 !important;
}
.canvas4 #wrap {
  width:960px;
}


/*****************/



/***********/

/****** promotion */

#promotion #promo_content {
  background: url(image_path('promotions/fr/bg_promotions.jpg')) repeat scroll 0 0 transparent;
  height: 722px;
  margin: 0 auto;
  width: 970px;
}
#promotion #header h2 a {
  background: url(image_path('promotions/logo_samsung.jpg')) repeat scroll 0 0 transparent;
  height: 39px;
  width: 224px;
}

 #promotion #header h1 a {
  background: url(image_path('promotions/logo_plush.png')) repeat scroll 0 -12px transparent;
  height: 64px;
  width: 152px;
}
/*****/
#header h1 {
  float: left;
  height: 39px;
  margin: 15px 0 0 20px;
} 
#header h2 {
  float: left;
  height: 42px;
  margin: 24px 0 0 5px;
}

.choice_language h3 {
  font-size: 28px;
  font-family: 'Open Sans Condensed',sans-serif;
  padding-top: 20px;
  text-align: center;
  color: #212A31;
  font-weight: normal;
}

#wrap {
  background: #ffffff;
  box-shadow: 0 0 45px #000000;
  margin: 0 auto 100px;
  text-align: left;
  width: 970px;

}


html, body{
  background: #202c37 url(image-path("bg.jpg"));
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 62.5%;
  font-family: Arial,Helvetica,sans-serif;
}
.f-btn {
  display: block;
  outline: medium none;
  text-indent: -999em;
}
#promo_content #promo_form.light {
  margin: 26px 0 0 40px;
  width: 459px;
  text-align: center;
  background: white;
  padding: 10px 0;
  border: #0c4f00 3px solid;
  box-shadow: 2px 4px 11px #333;
}
#promo_content h1 {
  color: #FFFFFF;
  font-size: 48px;
  line-height: 49px;
  padding-top: 13px;
  text-align: center;
}

#promo_content h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  margin: 50px 0 20px 0;
}
#promo_content h2.light {
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  margin: 0 0 20px 0;
}

#promo_content h3 {
  font-size: 20px;
}
.canvas2 #promo_content h3 {
    line-height: 21px;
    margin: -10px 0px 11px 0px;
}

.canvas2 .email_show {
  border:solid 2px  #212A31 ;
  width:300px;
  padding:10px;
}
.canvas2 .inputs_codes {
  line-height: 17px;
  
}


#promo_form p.news {
  font-size: 12px;
  margin: 0 0 15px 0;
}
#promo_form span {
  color: #333333;
  font-size: 16px;
}


#promo_content #promo_form .garanties .engagement {
  background: url(image_path('promotions/no_shop.png')) no-repeat scroll 0 2px transparent;
  height: 20px;
  padding-left: 30px;
}

#promo_content #promo_form .garanties .stop {
  background: url(image_path('promotions/noengagement.png')) no-repeat scroll 0 12px transparent;
  height: 20px;
  padding-left: 30px;
  padding-top: 10px;
}

#promo_content #promo_form .garanties .security {
  background: url(image_path('promotions/lock.png')) no-repeat scroll 0 18px transparent;
  padding-left: 30px;
  padding-top: 23px;
}

#promo_content #promo_form .garanties {
  color: #212A31;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  margin-left: 20px;
  text-align: left;
  width: 197px;
}

#promo_content #promo_form .avantages {
  border-left: 1px solid #000000;
  color: #212A31;
  float: right;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  margin-right: 20px;
  padding-left: 20px;
  text-align: left;
  width: 200px;
}

#promo_content #promo_form h4 {
  font-size: 26px;
  padding-bottom: 5px;
}

#promo_content #promo_form .avantages .film {
  background: url(image_path('promotions/film.png')) no-repeat scroll 0 2px transparent;
  height: 20px;
  line-height: 25px;
  padding-left: 30px;
}
#promo_content #promo_form .avantages .home {
  background: url(image_path('promotions/house.png')) no-repeat scroll 0 10px transparent;
  height: 20px;
  padding-left: 30px;
  padding-top: 10px;
}
#promo_content #promo_form .avantages .platform {
  background: url(image_path('promotions/ipad.png')) no-repeat scroll 0 19px transparent;
  height: 20px;
  padding-left: 30px;
  padding-top: 23px;
}

#promo_content #promo_form {
  padding-left: 40px;
  width: 463px;
  text-align: center;
}
#promo_content #promo_form.light
{
  padding-left: 0px;
}


#promo_form .inputs_promo_code {
  width: 180px;
}
.inputs_promo_code {
  background: none no-repeat scroll right center white;
  border: 1px solid #A6AAAD;
  border-radius: 4px 4px 4px 4px;
  color: #333333;
  font-size: 18px;
    padding: 6px;
    text-align: left;
  margin: 10px 0;
}
#commentcamarche_content {
  font-size:12px;
  color: #29333B;
  margin-right: 14px;
  margin-left: 14px;
  margin-bottom:15px;
}
#commentcamarche_content h2 {
  font-size: 28px;
  font-weight: bold;
  text-transform: none;
  margin: 10px 0;
}
#commentcamarche_content h3 {
  background: url(image_path('promotions/square.gif')) no-repeat scroll 0 12px transparent;
  font-size: 24px;
  padding-left: 20px;
  text-transform: uppercase;
}
#commentcamarche_content h3.carte {
  background: url(image_path('promotions/square_ppv.gif')) no-repeat scroll 0 12px transparent;
}
.promo_info {
  border: 1px solid #9B9999;
  margin: 5px 15px 5px 0;
  padding: 8px 0 24px 8px;
}

h1, h2, h3, h4, h5 {
  color: #212A31;
  font-weight: normal;
}
.container ul, .container ol, .container dl {
  margin-bottom: 18px;
}

#promo_content #promo_form .promo_button, #area_promo .promo_button {
  background-color: #D55023; 
  @include filter-gradient(#EE8419, #E26417, vertical);
  @include background-image(linear-gradient(top, #EE8419 0%,#E26417 100%));

  border: 1px solid #D55023;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: #FFFFFF;
  font-size: 30px;
  padding: 10px;
  text-shadow: 0 -1px 0 #D83C14;
  margin: 8px 0 0;
}

#commentcamarche_content td.step1 {
  background: url(image_path('promotions/1.gif')) no-repeat scroll 0 0 transparent;
  height: 30px;
  padding-left: 38px;
  width: 200px;
}

#commentcamarche_content td.step2 {
  background: url(image_path('promotions/2.gif')) no-repeat scroll 0 0 transparent;    height: 30px;
  padding-left: 38px;
  width: 200px;
}
#commentcamarche_content td.step3 {
  background: url(image_path('promotions/3.gif')) no-repeat scroll 0 0 transparent;    height: 30px;
  padding-left: 38px;
  width: 200px;
}
#commentcamarche_content td.step4 {
  background:url(image_path('promotions/4.gif')) no-repeat scroll 0 0 transparent;    height: 30px;
  padding-left: 38px;
  width: 200px;
}

#area_promo h2 {
  font-size: 33px;
  line-height: 33px;
  padding-top: 10px;
  text-align: center;
     font-weight: bold;
       padding-bottom: 20px;
}

#area_promo p {
  color: #333333;
  font-size: 18px;
  text-align: center;
}

#area_promo {
  background: url(image_path('promotions/tab-content-bg.png')) repeat-x scroll 0 0 transparent;
  height: 306px;
  margin: 30px 14px 19px;
      font-size: 18px;
}

#promo_footer {
  color: #212A31;
  font-size: 12px;
  margin-right: 14px;
  margin-left: 14px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: justify;
}
ul {
  list-style: none outside none;
}

#promo_form h4
{
  margin: 0;
}
.news_form
{
  margin:5px 0;
}
#error
{
  color: #900;
}
.canvas2 #error
{
  font-size: 12px;
  padding: 0 0 6px 0;
}
.form_explain
{
  font-size:12px;
  padding:12px 0 0 0;
}
#canvas
{
  font-size: 1em;
}

#canvas #header h1 a {
  background: url(image_path('promotions/logo_plush.png')) repeat scroll 0 -12px transparent;
  height: 64px;
  width: 152px;
}

#promo_form .inputs_promo_code {
  width:180px;
}
.label
{
  float: left; padding-left: 20px; margin-bottom: 5px;
}

#error_explanation {
    font-size: 12px;
    margin-top: -12px;
      color: #900;
}
#error_explanation a{
  color: #900;
}
.canvas2 #error_explanation {
  margin-top:0;
}


.inputs_codes {
    float: left;
    font-size: 14px;
    line-height: 9px;
    padding-left: 25px;
    text-align: left;
}

.inputs_codes_conf {
    float: right;
    font-size: 14px;
    line-height: 9px;
    padding-right: 21px;
    text-align: left;
}

#promo_form .align
{
  text-align: left;
  margin: 0 0 15px 17px !important;
}
#promo_form .align2
{
  text-align: left;
  margin: 0 0 0 17px !important;
}

/********** canvas5 *****/

#canvas.canvas5 #header h1 a
{
  background: url(image_path('logo_adult.png')) repeat scroll 0 -24px transparent;
  height: 69px;
}
.canvas5 #promo_content #promo_form.light {
  border: #939 3px solid;
}
.canvas5 #commentcamarche_content h3 {
  background: url(image_path('promotions/square_adult.gif')) no-repeat scroll 0 12px transparent;
}
.canvas5 #commentcamarche_content h3.carte {
  background: url(image_path('promotions/square_ppv_adult.gif')) no-repeat scroll 0 12px transparent;
}
/**************************/
