.vote
{
  float:right;
  margin: 0 20px 0 0 ;
}
#reviews_description
{
  padding: 0 0 10px 5px;
}
.header_review {
height: 85px;
padding: 0px 5px 0 0px;
width: 500px;
float:left;
}
.critiqueur_area #title.reviews {
color: #FA3216;
text-align: left;
margin: 20px 0 0 0px;
}
.critiqueur_area {
margin: 0 0 20px 40px;
height:40px;
}
.critiqueur_area .bysort {
float:right;
}
a.ajouter,a.regarder  {
  margin:0 auto;
}
.movie-descr {
width: 600px;
padding: 0 8px 0 120px;
}
p
{
  margin:0;
}

 #critics-wrap .movie-ttl h3 {
width: 657px;
}

.oters .links {
text-align: center;
width: 226px;
}
.oters .links a, .oters .links {
    color: #767672;
    text-decoration: underline;
}

.oters .links span {
margin: 0 5px 0 -8px;
}
.oters .btns {
  position: relative;
  margin: 0 0 0 27px;
}
.critique p {
height: 20px;
}
.movie-content {
overflow: hidden;
padding: 12px 0 20px 10px;
min-height: 150px;
}