.faq-container {
    
    border: 1px solid #98D321;
    float: right;

  width: 267px;
}
.container {
  padding-bottom: 14px;
}
#step_container {
    float: left;
   
    width: 646px;
}

#step_container .step_form {
    border: 1px solid #A6AAAD;
    padding: 14px;
}



#step_wrap .promo_button {
    background-color: #9ECA3B;
    background-image: -moz-linear-gradient(center top , #ACD341, #88BD32);
    background-repeat: repeat-x;
    border: 1px solid #7EA613;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px;
    text-shadow: 0 -1px 0 #72942A;
    width: 200px;
}

.title {
    color: #212A31;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 15px;
    padding-left: 3px;
    width: 512px;
}

#step_wrap h3 {
    font-size: 28px;
    margin-left: 8px;
    padding-bottom: 10px;
}

#faq-info-wrap p {
    padding: 10px 20px;

}

#faq-info-wrap h4 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
width: 200px;
  padding-bottom: 5px;
  padding-left: 60px;
}

#faq-info-wrap .infinity {
    background: url("/assets/icon_infinity_step.gif") no-repeat scroll 12px -8px transparent;
}

#faq-info-wrap .plateform {
    background: url("/assets/icon_plateform_step.gif") no-repeat scroll 12px 0 transparent;
}

#faq-info-wrap .engagement {
    background: url("/assets/icon_engagement_step.gif") no-repeat scroll 12px -1px transparent;
    padding-top: 9px;
}

#faq-info-wrap .security {
    background: url("/assets/icon_security_step.gif") no-repeat scroll 12px -1px transparent;
    padding-top: 9px;
}
#faq-info-wrap .cinema {
    background: url("/assets/icon_ticket_step.gif") no-repeat scroll 12px -1px transparent;
    padding-top: 9px;
}

#faq-info-wrap .new {
    background: url("/assets/icon_new_step.gif") no-repeat scroll 12px 0 transparent;
}


#step_wrap {
    background-color: #FFFFFF;
    color: #212A31;
    font-size: 14px;
    padding: 14px;
}
.step_1.fr {
    background: url("/assets/fr/steps.jpg") no-repeat scroll -5px 0px transparent;
}
.step_2.fr {
    background: url("/assets/fr/steps.jpg") no-repeat scroll -5px -102px transparent;
}
.step_3.fr {
    background: url("/assets/fr/steps.jpg") no-repeat scroll -5px -207px transparent;
}
.step {
    height: 56px;
}

.asterisk_step {
    color: #98D321;
}
.content_step a {
    color: #4D4D4D;
}

.explain_text {
    padding-right: 8px;
}

.step2form {
    font-size: 15px;
    padding-top: 4px;
}

.new_step_input {
    border: 1px solid #A6AAAD;
    font-size: 11px;
    height: 15px;
    line-height: 25px;
    text-align: left;
    width: 224px;
}

.step2form td {
    padding: 5px;
}

.asterisk_explain_step {
        color: #98D321;
    font-size: 14px;
}
.step_input_info, .step_input_error, .step_input_ok, .step_input_check {
    height: 22px;
    width: 139px;
}
.step1_input_error, .step_input_error {
    background: url("/assets/red-tick.png") no-repeat scroll left center transparent;
}

.step1_input_ok, .step_input_ok {
    background: url("/assets/green-tick.png") no-repeat scroll left center transparent;
}

.padding_button td, .padding_button td img {
    vertical-align: middle;
}


.step_input_info #text, .step_input_error #text, .step_input_ok #text, .step_input_check #text {
    font-size: 11px;
    height: 22px;
    padding: 3px 0 0 33px;
    width: 200px;
}


.securitypaiment {
    background: url("/assets/lock.gif") no-repeat scroll 0 0 transparent;
    border: 1px solid #81919F;
    color: #81919F;
    float: right;
    height: 33px;
    margin-right: 21px;
    padding-left: 47px;
    padding-top: 19px;
    width: 187px;
}

.choice {
    float: left;
    font-size: 11px;
    line-height: 28px;
    padding-bottom: 20px;
    text-align: center;
    width: 337px;
}
.catalogue_promo {
	
	float:left;
	width:200px;
}
.vod_faq {
	
	float:right;
		width:200px;
}

.labelstep label{
	width: 155px;
	display: inline-block;
}
.labelstep input {
    border: 1px solid #A6AAAD;
    font-size: 11px;
    height: 16px;
    line-height: 25px;
    width: 250px;
}

.labelstep {
	padding:10px;
	

}