<% path = category_products_path(:category_id => item.to_param, :package => params[:package]) %>
<% image = item.image_vod %>
<li class='cadre'>
  <%= link_to image_tag(image, :size => "162x102"), path %>
  <p>
    <%= link_to "#{item.name}", path, :class => "title" %>
  </p>
  <% children = Category.search(:order => "name_#{I18n.locale} asc", :with => {:active => 1, :parent_id => item.id, :type => Zlib::crc32(Moovies.product_kinds[params[:kind]])}, :without => {"#{@not_empty}" => 0}) %>
  <ul>
    <% children.collect do |sub_item| %>
        <li>
          <%= link_to "#{sub_item.name}", category_products_path(:category_id => sub_item.to_param, :package => params[:package]), :class => "studios" %>
        </li>
    <% end %>
  </ul>
</li>
