<p><%= t('.welcome', :default => 'Welcome') %> <%= @email %>!</p>

<p><%= t('.description', :default => 'You can confirm your account email through the link below:') %></p>

<p><%= link_to t('.sent', :default =>'Confirm my account'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, :locale => I18n.locale) %></p>
