<% product = detail.product %>
<li>
  <%= link_to image_tag(product.image, :width => 145, :height => 217), product_path(:id => product) %>
  <br />
    <%= render :partial => 'products/streaming',  :locals => {:product => product, :source => @source, :response_id => @response_id} %>
  <br />
    <%= render :partial => 'products/vod_list',  :locals => {:product => product, :source => @source, :response_id => @response_id} %>
</li>
