<% product = detail.class.name == 'Product' ? detail : detail.product %>
<div>
  <a href="<%= product_path(:id => product.to_param, :source => source) %>" class="popper">
    <%= image_tag(product.image, :width => 145, :height => 217, :class => "img-responsive") %>
    <% if product.hd?(session[:country_id]) %>
        <span class="hd position-absolute black white-bck radius2 bold italic">HD</span>
    <% end %>
    <div class="block100 text-center mart10">
      <%= render :partial => 'products/streaming',  :locals => {:product => product, :source => source, :popup => true} %>
      <%= render :partial => 'products/vod_list',  :locals => {:product => product, :source => source, :response_id => @response_id} %>
    </div>
  </a>
</div>
