<li>
  <%= link_to image_tag(detail.image, :width => 145), product_path(:id => detail) %>
  <br />
  <a href="#" id="watch" title="Regarder en streaming"><%= t '.watch' %></a>
  <br />
  <a href="#" id="add" title="Ajouter à ma liste VOD"><%= t '.add' %></a>
</li>
