<p class="tooltips_description">
  <!--
  <#%= t(".tvod_price_description_#{params[:kind]}").html_safe %><br/> <br/>

  <#%= link_to t('.sign_up'), info_path(:page_name => t('routes.infos.params.abo')), :class => 'essaigratuit osc btn' %>
  -->
  <% if current_customer.customers_abo_payment_method == 0 %>
  <%= link_to  t('.sign_up', :price => @product.get_vod_online(session[:country_id]).first.tvod_price).html_safe, edit_customer_payment_methods_path(:customer_id => current_customer.to_param, :type => :tvod, :product_id => @product.id, :source => 0), :class => 'essaigratuit osc btn' %>
  <% end %>
</p>
