<% if !product.get_vod_online(session[:country_id]).empty? %>
  <% if product.svod_dates_online.first %>
    <% title = t('.watch_svod') %>
    <% class_name = "watch action_btn" %>
  <% else %>
    <% title = raw t('.watch_tvod', :price => product.get_vod_online(session[:country_id]).first.ppv_price) %>
    <% class_name = "alacarte action_btn" %>
  <% end %>
  <span class="infotvod"></span>
  <div class="tooltips">
  <p class="tooltips_description">Les abonnés aux catalogue <strong>Plush Unlimited bénéficient de 0,5€ de réduction</strong> sur le prix de location de ce film. <br/> <br/> 
    Envie de profiter de <strong>plus de 600 films en illimité</strong> ainsi que d’une <strong>réduction sur le catalogue à la Carte</strong>? <br/> <br/> <a class="essaigratuit osc btn" href="#">Abonnez-vous</a></p>
 </div>
  <%= link_to  title, product_action_path(:product_id => product.to_param, :origin => :products, :source => source), :class => class_name %>
<% end %>
