<% hide_price = false unless defined? hide_price %>
<% if !product.get_vod_online(session[:country_id]).empty? %>
    <% if product.svod? %>
        <% title = t('.watch_svod') %>
        <% class_name = params[:kind] == :adult ? "btn btn-adult-tvod-gradient bold padlr25 white f17" : "btn btn-green-gradient bold padlr25 white f17" %>
    <% else %>
        <% if (customer_signed_in? && current_customer.tvod_credits?) || hide_price %>
            <% key = '.watch_tvod_free' %>
            <% popup = false %>
        <% else %>
            <% key = '.watch_tvod' %>
        <% end %>
        <% title = t('.watch_svod') %>
        <% class_name = params[:kind] == :adult ? "btn btn-adult-tvod-gradient bold padlr25 white f17" : "btn btn-blue-gradient bold padlr25 white f17" %>
    <% end %>
    <!--<#% if current_customer && current_customer.tvod_only? && !product.svod? && popup == true %>
        <span class="infotvod"></span>
        <div class="tooltips_tvod" style='display:none'>
          <p class="tooltips_description">
            <#%= t("products.sign_up.tvod_price_description_#{params[:kind]}").html_safe %><br/> <br/>
            <#%= link_to t('products.sign_up.sign_up'), info_path(:page_name => t('routes.infos.params.abo')), :class => 'essaigratuit osc btn' %>
          </p>
        </div>
    <#% end %>-->
    <%= link_to product_action_path(:product_id => product.to_param, :origin => :products, :source => source), :class => class_name, :remote => true do %>
        <i class="fa fa-play marr5"></i><%= title %>
    <% end %>
<% end %>
