<% if !product.get_vod_online(session[:country_id]).empty? %>
  <% if product.svod_dates_online.first %>
    <% title = t('.watch_svod') %>
    <% class_name = "watch action_btn" %>
  <% else %>
    <% title = raw t('.watch_tvod', :price => (current_customer && current_customer.tvod_only?) || !current_customer && local_assigns.has_key?(:max_price)  ? product.get_vod_online(session[:country_id]).first.tvod_price : product.get_vod_online(session[:country_id]).first.ppv_price) %>
    <% class_name = popup == true ? "alacarte action_btn popup" : 'alacarte action_btn' %>
  <% end %>
  <% if current_customer && current_customer.tvod_only? && !product.svod_dates_online.first && popup == true %>  
    <span class="infotvod"></span>
    <div class="tooltips_tvod" style='display:none'>
      <p class="tooltips_description">
        <%= t("products.sign_up.tvod_price_description_#{params[:kind]}").html_safe %><br/> <br/>
        <%= link_to t('products.sign_up.sign_up'), info_path(:page_name => t('routes.infos.params.abo')), :class => 'essaigratuit osc btn' %>
      </p>
    </div>
 <% end %>
  <%= link_to  title, product_action_path(:product_id => product.to_param, :origin => :products, :source => source), :class => class_name %>
<% end %>
