<% audio = trailer.languages.by_language(:fr).first.short_alpha %>
<% sub = trailer.subtitles.count > 0 ? trailer.subtitles.by_language(:fr).first.short_alpha : 'non' %>
<% url = Moovies.akamai_hls_trailer_url(trailer.imdb_id, audio, sub, trailer.videoland, trailer.akamai_folder)%>

<script>
  movieUrl = '<%= url %>';
</script>

<div id="player">Loading the player...</div>
<script>
    jwplayer('player').setup({
        file: movieUrl
    });
</script>

