<div id="infostvod">
  <h1><%= t('.tvod_title') %></h1>
  <p>
    <%= t(".tvod_price_#{params[:kind]}", :link => info_path(:page_name => t('routes.infos.params.abo'))).html_safe %>
  </p>
  <% if current_customer.customers_abo_type == 6 && (current_customer.tvod_free == 0 || (@product.get_vod_online(session[:country_id]).first.tvod_price > current_customer.tvod_free)) %>
    <%= link_to  t('.click_here', :price => @product.get_vod_online(session[:country_id]).first.tvod_price).html_safe, edit_customer_payment_methods_path(:customer_id => current_customer.to_param, :type => :credit_card_tvod, :product_id => @product.id, :source => params[:source]), :class => 'alacarte price' %>
  <% elsif current_customer.customers_abo_type == 6 && current_customer.tvod_free > 0 %>
    <%= link_to  t('.click_here').html_safe, streaming_product_url(:id => @product.imdb_id, :season_id => @product.season_id, :episode_id => @product.episode_id), :class => 'alacarte price' %>
  <% end %>
</div>
