<%= t('.tvod_price', :price => product.get_vod_online(session[:country_id]).first.ppv_price).html_safe %>
<br /><br />
<%= params[:hide_btn] != "1" ? link_to(t('.click_here'), streaming_product_path(:id => product.imdb_id, :source => @source, :season_id => product.season_id, :episode_id => product.episode_id), :id => 'streaming_btn', :class => 'alacarte') :
 "<div id='streaming_btn' class ='alacarte facebox_close'>#{t('.close_button')}</div>".html_safe %>
