<div class="container" id="content-left-right">
  <div class="content-left">
    <%= render :partial => 'products/index/filters_online', :locals => {:countries => @countries} %>
  </div>
  <div class="content-right">
    <div id="all" class="block100 movies">
      <% if params[:package].nil? && params[:concerns] != :productable && params[:belgium].blank? %>
          <%= render :partial => 'products/index/hp' %>
      <% else %>
          <%= render :partial => 'products/index/all' %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag *webpack_asset_paths("application") %>
