<div id="movies_banners1">
  <img src="http://www.dvdpost.be/images/plush/movies_banners/fr/test1.jpg" alt="" width="942" height="188" >
  </div>
  
<div id="movies_banners2">
    <img src="http://www.dvdpost.be/images/plush/movies_banners/fr/test2_1.jpg" alt=""><img src="http://www.dvdpost.be/images/plush/movies_banners/fr/test2_2.jpg" alt="">
</div>
    
<div id="movies_banners3">
      <img src="http://www.dvdpost.be/images/plush/movies_banners/fr/test3_1.jpg" alt=""><img src="http://www.dvdpost.be/images/plush/movies_banners/fr/test3_2.jpg" alt=""><img src="http://www.dvdpost.be/images/plush/movies_banners/fr/test3_3.jpg" alt="">
</div>
  
<!--   ==============   MAIN CONTENT   ==============   -->
<% if params[:package].nil? && params[:concerns] != :productable %>
<div id="all">
  <%= render :partial => 'products/index/hp' %>
</div>
<% else %>
<div id="all">  
  <%= render :partial => 'products/index/all' %>
</div>
<div id="toTop"><%= t('.back') %></div>
<% end %>
<!--   ==============   END MAIN CONTENT   ==============   --> 
