<!--   ==============   MAIN CONTENT   ==============   -->
<% if params[:package].nil? %>
<div id="all">
  <%= render :partial => 'products/index/hp' %>
</div>
<% else %>
<div id="all">  
  <%= render :partial => 'products/index/all' %>
</div>
<div id="toTop"><%= t('.back') %></div>
<% end %>
<!--   ==============   END MAIN CONTENT   ==============   --> 
