<div id="maincontent">
  <h2 class="ttl"><%= t('.studio_vod') %></h2>
  <% if params[:kind] == :adult %>
      <%= render :partial => "actors/menu_#{params[:kind]}" %>
  <% end %>

  <div class='center'>
    <%= render :partial => 'studios/index/studio_pict', :collection => @studios %>
    <div class="clearfix"></div>
  </div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->
<%= render :partial => 'products/index/filters_online', :locals => {:countries => @countries} %>
