<!--
<style>

.error {
  color: #A52A2A;
}

#promotion-error {
  
}
</style>
-->
<div id="promo_area2">
  <p class="text_promo" ><%= t('.title').html_safe %></p>
	<%= form_tag public_promotion_path(), {:method => :put, :id => :public_promo} do %>
    <%= text_field_tag "promotion" %>
    	<input class="no_border_button public_promo_btn" name="imageField" src="http://www.dvdpost.be/images/jb/button_go.gif" type="image" align="absmiddle" border="0" >
    	<!--
    	<input type="submit" id="promotion_hiden_trigger_button">
    	-->
    	<div id="status"></div>
  <% end %>
</div>
<!--
  <script>
  $(document).ready(function () {

  	$("#clicable_promo_image_button").click(function(e) {
  		e.preventDefault();
  		console.log("!!!!!!!!!1????????????");
  		$("#promotion_hiden_trigger_button").trigger("click");
  	});

      $("#public_promo").validate({
        rules: {
          'promotion': {
            required: true,
            remote: "/api/v1/check_presence_of_activation_code_logedin"
          }
        },
        messages: {
          'promotion': {
            required: required_message(),
            remote: remote_message()
          }
        }
      });

  });

  function required_message() {
    if (gon.locale == "fr") {
      return "Code d'activation est nécessaire."
    } else if (gon.locale == "nl") {
      return "Activatie code is verplicht."
    } else if (gon.locale == "en") {
      return "Activation code is required."
    }
  }

  function remote_message() {
    if (gon.locale == "fr") {
      return " Le code a déjà été utilisé."
    } else if (gon.locale == "nl") {
      return "De code is al gebruikt."
    } else if (gon.locale == "en") {
      return "The code has already been used."
    }
  }

</script>