<p class="block100 mart5 black text-center"><%= t('.version_title') %></p>
<ul class="video-lg-buttons text-center block100 padt20">
  <%= render :partial => 'streaming_products/show/audio', :collection => streaming, :locals => {:sample => sample, :source => source, :response_id => response_id, pido: @pid} %>
</ul>