<div class="information_vod">
	<h3><%= t('.title')%></h3>
</div>
<div class="linkallversions">
	<table cellpadding="0" cellspacing="0">
	  <%= render :partial => 'streaming_products/show/version', :collection => version, :locals => {:source => source, :response_id => response_id} %>
	</table>
</div>