<style>
  /*promo image*/
  .promo-image {
    height: 200px;

  }
  @media (max-width: 980px) {
    .promo-image {
      height: 160px;
    }
  }

  .promo-image .promo-image-overlay {
    width: 100%;
    text-align: center;
    height: 90px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .promo-image .promo-image-overlay-inner {
    width: 100%;
  }

  .promo-image .promo-image-overlay span {
    text-shadow: 2px 2px 2px #000;
    font-size: 35px;
    color: #E1E4DA;
  }
  @media (max-width: 479px) {
    .promo-image .promo-image-overlay span {
      font-size: 25px;
    }
  }

  .promo-image button {
    background: red;
    padding: 2px 10px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 10px auto;
  }

  /*end promo image*/
</style>
<% unless customer_signed_in? %>
    <% if params[:controller] == "products" %>
        <% if params[:kind] == :normal %>
            <div class="container white-bck">
              <div class="promo-image rwd-bck display-block" style="background-image: url('http://staging.plush.be/assets/promo_banner/normal1.jpg')" }>
                <div class="promo-image-overlay">
                  <div class="promo-image-overlay-inner white bold">
                    <span><%= t('orange_promo_banner_text_normal') %></span>
                  </div>
                </div>
              </div>
            </div>
        <% else %>
            <div class="container white-bck">
              <div class="promo-image rwd-bck display-block" style="background-image: url('http://staging.plush.be/assets/promo_banner/adult2.jpg')">
                <div class="promo-image-overlay">
                  <div class="promo-image-overlay-inner white bold">
                    <span><%= t('orange_promo_banner_text_adult') %></span>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
<% end %>