<% unless customer_signed_in? %>
    <% if params[:controller] == "products" %>
        <% if params[:kind] == :normal %>
            <div class="container white-bck">
              <div data-content="<%= t('orange_promo_banner_text_normal').upcase %>" class="promo-image rwd-bck mart30"
                   id="promo-image5" style="background-image: url('http://staging.plush.be/assets/promo_banner/normal1.jpg')">
                &nbsp;
              </div>
            </div>
        <% else %>
          <div class="container white-bck">
              <div data-content="<%= t('orange_promo_banner_text_adult').upcase %>" class="promo-image rwd-bck" id="promo-image4" style="background-image: url('http://staging.plush.be/assets/promo_banner/adult2.jpg')">
                  &nbsp;
              </div>
          </div>
        <% end %>
    <% end %>
<% end %>
