<%= render :partial => 'layouts/filters_online', :locals => {:selected_countries => @selected_countries, :languages => @languages, :subtitles => @subtitles} %>
<div class="block100 thinrgray-bck radius2 padlr10 switch-view-panel">
  <%= render :partial => 'products/index/sorting' %>
</div>
<div id="list-view" class="appended">
  <%= render :partial => 'products/index/movie_details', :collection => @products, :locals => {:target => @target} %>
  <div class="block100 mart30 pagin-bar">
    <%= render :partial => 'products/index/pagination', :locals => {:item => @products} %>
  </div>
</div>




