

  <% package_id = type == :svod ? (params[:kind] == :adult ? 4 : 1) : (params[:kind] == :adult ? 5 : 2) %>
  <div id="ca-container" class="ca-container">
    <div class="title"><%= t(".title_#{title}")%>
      <%= link_to t(".more"), products_short_path(:package => Moovies.packages.invert[package_id], 'filters[view_mode]' => view_mode), :class => :small if !type.nil? %>
      <%= link_to t(".more"), products_short_path('belgium' => belgium, :source => source), :class => :small if !belgium.nil? %>

    </div>
    <div class="ca-wrapper">
      <%= render :partial => 'products/detail2', :collection => data, :locals => {:source => source, :view_mode  => view_mode } %>
    </div>
  </div>
