<div id="ca-container" class="ca-container">
  <div class="title"><%= t(".title_#{title}")%></div>
  <div class="ca-wrapper">
    <%= render :partial => 'products/detail2', :collection => data %>
  </div>
</div>