<style>
  grid-view .grid-slide:nth-child(4n) {  margin-right: 0;}
</style>

<% product = movie_details_jacket %>
<% data = product.description_data(true) %>
<% product_title = data[:title] %>
<% product_image = data[:image] %>
<% path = product_path(:id => product.to_param, :source => @source, :response_id => @response_id) %>



<div class="grid-slide">
    <a href="<%= product_path(:id => product.to_param, :source => @source) %>" class="popper"><%= image_tag(product_image, :class => "img-responsive") %>
      <% if product.hd?(session[:country_id]) %>
          <span class="hd position-absolute black white-bck radius2 bold italic">HD</span>
      <% end %>
    </a>



    <div class="block100 slide-score green text-center" data-score="3"></div>
</div>
