<div class="bysort">
  <div class="bysort_title"><%= t '.title' %> :</div>
  <div class="bysort_choice">
    <% var = params[:sort] ? params[:sort].to_sym : :normal %>
    <%= form_for(:product, :url => request.fullpath, :html => {:method => :get, :id => :sort_form}) do |f| %>
        <%= hash_to_hidden_fields(params.merge(:page => nil, :sort => nil)) %>
        <%= select_tag(:sort, options_for_select(sort_collection_for_select, var), {:onchange => '$("#sort_form").submit()'}) %>
    <% end %>
  </div>
  <div style="clear:both"></div>
</div>
